page-annuaire {

  $categories: (
   ionic: color($colors, primary),
   angular: #AC282B,
   communication: #8E8D93,
   tooling: #FE4C52,
   services: #FD8B2D,
   design: #FED035,
   workshop: #69BB7B,
   food: #3BC7C4,
   documentation: #B16BE3,
   navigation: #6600CC,
  );

  @function auxiliary-categories() {
    @return map-remove($categories);
  }

  .mySelect{
    width: 100% !important;
    max-width: 100% !important;
  }

  ion-title, ion-title * {
    font-size: 10pt !important;
  }


  page-annuaire-tgr {

  @-webkit-keyframes slideInBothWays {
    0% {
      transform: translate3d(-100%,0,0);
    }

    50% {
      transform: translate3d(50%,0,0);
    }

    100% {
      transform: translate3d(0,0,0);
    }
  }

  .slide-in-both-ways {
    animation: slideInBothWays ease-in 1;
    animation-duration: 750ms;
  }

    @each $track, $value in auxiliary-categories() {
     ion-item-sliding[track=#{$track}] ion-label {
       border-left: 2px solid $value;
       padding-left: 10px;
     }
    }

    ////////////// adjust select width to 100%
    // .ion-select.mySelect{
    //   max-width: 100% !important;
    //   width: 100% !important;
    // }//
    // .alert-wrapper {
    //   min-width: 40px;//what ever you like
    // }

    // .alert-radio-label {
    //   white-space: normal!important;
    // }

  }//End page-annuaire-tgr


    ////////////// adjustthe text in the select to multilines ////////////////////
    .alert-radio-label {
      white-space: normal!important;
    }

    .iAvatar{
      width: 105px;
      height: 105px;
      border-radius: 50%;
    }

    ion-searchbar{
      //background: none !important;
    }

    ion-header{
      background: color($colors, annuaire);
    }

    ion-item, ion-navbar{
      background: transparent !important;
    }

    ion-segment{
      background: rgb(234, 234, 234) !important;
    }

    .segment-button {
      color: #000000 !important;
      background-color: rgb(212, 205, 197) !important;
    }

    .segment-button.segment-activated {
      color: #fff !important;
      background-color: #9d5300 !important;
    }

    ion-list {
      background: rgba(#fff, 0.5) !important;
    }

    ion-item-sliding {
      background: none !important;
    }

    ion-content{
      background: url(../assets/img/bg-content-annuaire.png) !important;
      background-size: cover !important;
    }
    .search-by-name{
      font-size: 9pt;
    }
    .search-by-name span{
      display: inline;
    }

}
