<ion-header>
  <ion-navbar no-border-bottom color="annuaire">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>



  <form (ngSubmit)="goToResponsibleByName()">
    <ion-row no-border-top color="annuaire">
      <ion-col col-8>
        <ion-searchbar name="search" style="background: none !important;" no-padding [(ngModel)]="queryText" (ionInput)="updateResponsables()" 
          placeholder="Recherche & filtrage">
          <!--  par nom & entité & poste -->
        </ion-searchbar>
      </ion-col>

      <!-- <button ion-button color="primary" (click)="goToResponsibleByName()">
           <ion-icon name="call" ></ion-icon>
          GO
        </button> -->
      <ion-col col-4>
        <button type="submit" class="search-by-name" ion-button outline color="light">
          <p style="margin-bottom: 3px !important; margin-top: 0 !important;">Recherche</p>
          <p style="margin-bottom: 3px !important; margin-top: 0 !important;">par nom et poste</p>
        </button>
      </ion-col>

    </ion-row>

  </form>
  <ion-segment color="annuaire" [(ngModel)]="segment" (ionChange)="segmentUpdateResponsables()" color="light" style="background: #8e4c02 !important;">
    <ion-segment-button value="central">
      Services centraux
    </ion-segment-button>

    <ion-segment-button value="regional">
      Services déconcentrés
    </ion-segment-button>

  </ion-segment>



</ion-header>



<ion-content class="login-content slide-in-both-ways">
  <div *ngIf="showThis">
    <ion-item style="background: white !important;">

      <ion-select class="mySelect" okText="Ok" cancelText="annuler" [(ngModel)]="selectedCentralDirection" (ngModelChange)="updateSelectedValue($event)"
        placeholder="Veuillez cliquer ici pour choisir">

        <ion-option *ngFor="let key of foundCentralDirections" value="{{key.code}}">{{key.libelle}}</ion-option>
      </ion-select>

    </ion-item>
  </div>

  <div *ngIf="!showThis">
    <ion-item style="background: white !important;">

      <ion-select class="mySelect" okText="Ok" cancelText="annuler" [(ngModel)]="selectedRegionalDirections" (ngModelChange)="updateSelectedValue($event)"
        placeholder="Veuillez cliquer ici pour choisir">
        <ion-option *ngFor="let key of foundRegionalDirections" value="{{key.code}}">{{key.libelle}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let user of foundResponsibles">
      <ion-item *ngIf="user.responsable && user.responsable.id " (click)="goToDetails(user)">
        <ion-row no-padding no-marging>
          <ion-col col-4 no-margin>
            <!-- ng4 ngif .. else -->
            <!--img class="iAvatar" *ngIf="user.responsable.jpeguri; else placeholderImg" src="{{user.responsable.jpeguri}}">
            <!--ng-template #placeholderImg-->
            <img class="iAvatar" src="./assets/img/User-green.png">
            <!--/ng-template-->
          </ion-col>


          <ion-col col-8 no-margin>
            <h3 style="font-weight: bold;">{{ user.responsable.lastName }} {{ user.responsable.firstName }}</h3>
            <h3 style="color: gray;">{{ user.responsable.title }}</h3>
            <h3 style="color: #d27e0f; white-space: normal;">{{ user.libelle }}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="left">
        
        <!-- <button ion-button color="secondary" (click)="user.secretariat?doCall(user.secretariat):doCall(user.responsable.mobile)" [disabled]="!(user.secretariat)&&!(user.responsable.mobile)"> -->
        <button ion-button color="secondary" (click)="doCall(user.tel)" [disabled]="!(user.tel)">
          <ion-icon name="call"></ion-icon>
          Appel
        </button>

        <!-- <button ion-button color="primary" (click)="doSMS(user.responsable.mobile)" [disabled]="!(user.responsable.mobile)">
        <ion-icon name="chatboxes" ></ion-icon>
        SMS
      </button> -->
      </ion-item-options>
      <ion-item-options *ngIf="user.responsable && user.responsable.email" side="right">
        <button ion-button color="primary" (click)='doMail(user.responsable.email)' [disabled]='!(user.responsable.email)'>
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>