<!--
  Generated template for the GainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <canvas class="chart" #chartCanvas></canvas>

</ion-content>
