<!--
Generated template for the LoginPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="login">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Bienvenue</ion-title> -->
    <ion-title>Accueil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (ngSubmit)="doLogin()" #registerForm="ngForm">
    <ion-item>
      <ion-img src="assets/img/ic_user.png" item-left></ion-img>
      <ion-input type="text" [(ngModel)]="xuser.userid" name="login" placeholder="Identifiant" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-img src="assets/img/ic_password.png" item-left></ion-img>
      <ion-input name="password" [(ngModel)]="xuser.password" type="password" placeholder="Mot de passe" required></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-toggle [(ngModel)]="xuser.saveSess" name="saveSession" item-left color="mainColor"></ion-toggle>
      <ion-label class="save-sess-lbl" color="light">Se souvenir de moi</ion-label>
    </ion-item>
    <button class="signin-btn" style="height: 35px; margin-bottom: 12px !important;" ion-button 
    type="submit" block color="mainColor">Connexion</button>

    <button type="button" ion-button color="login" style="margin-top: 5px; height: 35px; margin-bottom: 15px !important;" block  (click)="goToValidateAccount()">
        Activer Compte
    </button>
      
    <div class="forgot-area">
      <ion-label class="f-pwd" color="light" (click)="openForgot()" >Mot de passe oublié</ion-label>
      <ion-label color="secondary" class="signup-action f-id" (click)="openRegister()">Créer votre compte</ion-label>
    </div>
  </form>

  <button ion-button style="display: none;" class="demo-btn" color="login" round (click)="startDemo()">Démo</button> 
</ion-content>
