<!--
  Generated template for the HistoryByDatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="banque">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Opérations entre deux dates</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="content">
    <!--/////////////////////// Opérations entre deux dates ////////////////////////-->


    <ion-item>
      <span item-left>Entre</span>
      <span item-right><ion-datetime  displayFormat="DD-MM-YYYY" 
        [min]="getMinDate()" 
        [(ngModel)]="someDay" 
        (ionChange)="dateSelected()"></ion-datetime></span>
    </ion-item>

    <ion-item>
      <span item-left>et</span>
      <span item-right><ion-datetime [disabled]="isDisabled" [min]="getMinDate()" displayFormat="DD-MM-YYYY" [(ngModel)]="today"></ion-datetime></span>
    </ion-item>

    <button ion-button block block (click)="getOptBetweenTwoDates()" color="banque">Chercher</button>

    <ion-row no-padding no-margin>
      <ion-col col-8 no-padding no-margin>
        <ion-searchbar padding-left color="banque" style="background: transparent;" [(ngModel)]="queryText" (ionInput)="doSearch()"
          placeholder="Recherche">
        </ion-searchbar>
      </ion-col>
      <ion-col class="picto-area" col-2 no-padding no-margin center>
        <img class="picto-sort" [src]="(sortCash==0) ? 'assets/img/picto-cash-down.png' : (sortCash==1) ? 'assets/img/picto-cash-default.png' : 'assets/img/picto-cash-up.png'"
          (click)="doSortCash()" alt="">
      </ion-col>
      <ion-col class="picto-area" col-2 no-padding no-margin center>
        <img class="picto-sort" [src]="(sortDate==0) ? 'assets/img/picto-cal-down.png' : (sortDate==1) ? 'assets/img/picto-cal-default.png' : 'assets/img/picto-cal-up.png'"
          (click)="doSortDate()" alt="">
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-row class="data-head" *ngIf="item.type && item.type == 'group'; else operation"> 
          <p style="color: #ffffff !important;">{{getMonth(item.date) | uppercase }}</p>
        </ion-row>
        <ng-template #operation>
          <ion-row>
            <ion-col col-2 class="date-area">
              <label> 
                <p class="jour-area">{{ getDayAndMounth(item.date) }}</p>
                <p class="moisEtAnnee-area">{{ getYear(item.date) }}</p>
              </label>
              <img src="assets/img/divider-line.png" alt="divider">
            </ion-col>
            <ion-col col-6 class="stat-area marquee">
              <label class="animated" *ngIf="item.libelle.length>21; else textFix">{{item.libelle}}</label>
              <ng-template #textFix><label class="not-animated">{{item.libelle}}</label></ng-template>
            </ion-col>
      
            <ion-col col-4 class="cash-area" [ngClass]="item.sensOperation.code=='CREDIT' ? 'green-lbl' : 'red-lbl'">
              <label><span *ngIf="item.sensOperation.code=='DEBIT'">- </span>{{formatedFLoat(item.montant)}}</label>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-item>
    </ion-list>

    <!--/////////////////// END opérations entre deux dates ////////////////////////-->


  </div>
</ion-content>