page-history-by-date {
  .balance-lbl p{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .date-area {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    background: rgba(162, 109, 6, 0.51);
  }

  .date-area .jour-area {
    font-weight: bold;
    font-size: 13pt;
    color: white  !important;
  }

  .date-area .moisEtAnnee-area{
    font-size: 9pt;
    color: white  !important; 
  }

  .date-area label{
    font-size: 10pt;
  }

  .date-area img{
    position: absolute;
    right: 0;
    height: 100% !important;
    width: 3px;
  }

  .marquee {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }

  .marquee .animated{
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -5% 0 0 -25%;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
  }

  .marquee label{
    white-space: nowrap;
  }

  @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }

  .not-animated{
  display: inline-block;
  position: absolute;
  top: 50%;
  margin: -5% 0 0 0%;
}

  .stat-area{
    word-break: normal;
    white-space: normal;
    font-size: 13px;
  }

  .cash-area label{
    float: right;
  }

  .green-lbl, .green-lbl *{
    color: green;
  }

  .red-lbl, .red-lbl *{
    color: red;
  }

  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  ion-content ion-item {
    background: rgba(255, 255, 255, 0.68) !important;
  }

  ion-content ion-label {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  } 

   .data-head{
    text-align: center !important;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    padding: 3px;
    padding-left: 4%;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    box-shadow: gainsboro 0px -3px 2px 0px;
    background: #9c8d78;
  }

}
