<ion-header>
  <ion-navbar color="adhesion">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inscription</ion-title>

  </ion-navbar>

</ion-header>
<ion-content>

  <ion-card no-padding>

    <ion-card-content no-padding>

      <form (ngSubmit)="newUser()" #registerForm="ngForm">
        <ion-list lines>



          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Nom </ion-label>
            <ion-input type="text" minlength="2" name="nom" [(ngModel)]="data.nom" required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Prénom</ion-label>
            <ion-input type="text" minlength="3" name="prenom" [(ngModel)]="data.prenom" required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span> Cin / RC</ion-label>
            <ion-input type="text" minlength="4" name="Cin_RC" required [(ngModel)]="data.cin"></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label> Raison Social</ion-label>
            <ion-input type="text" name="raisonSociale" [(ngModel)]="data.raisonSociale"></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label> Adresse</ion-label>
            <ion-input type="text"  name="adresse" [(ngModel)]="data.adresse"></ion-input>
          </ion-item>
          <ion-item class="register-item">
            <ion-label> Portable</ion-label>
            <ion-input type="text"  name="tel" [(ngModel)]="data.mobile"></ion-input>
          </ion-item>
          
          <ion-item class="register-item">
            <ion-label> Fixe</ion-label>
            <ion-input type="text"  name="fixe" [(ngModel)]="data.fixe"></ion-input>
          </ion-item>
          <!-- Email min 12 -->
      
          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Email <span style="color: rgb(252, 110, 110) !important;font-size:0.7em">min 12</span> </ion-label>
            <ion-input type="email" minlength="12" maxlength="30" name="mail" [(ngModel)]="data.mail" required></ion-input>
          </ion-item>

          <!-- login entre 5 et 15 -->
      
          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Login <span style="color: rgb(252, 110, 110) !important;font-size:0.7em">entre 5 et 15</span></ion-label>
            <ion-input (input)="checkLogin()" type="text" minlength="5" maxlength="15" name="lastName" [(ngModel)]="data.login" required></ion-input>
          </ion-item>


          <!-- mot de passe min 8 -->
        
          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Mot de passe<span style="color: rgb(252, 110, 110) !important;font-size:0.7em"> min 8 </span></ion-label>
            <ion-input type="password" minlength="8"  name="password" [(ngModel)]="data.password" required></ion-input>
          </ion-item>


          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Confirmez mot de passe</ion-label>
            <ion-input type="password" minlength="8" name="comfirmPassword" [(ngModel)]="comfirmPassword" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="danger"><span style="color: red !important;font-size:0.7em">* champs obligatoires</span> </ion-label>
          </ion-item>
          <ion-row>
            <ion-col>
              <button ion-button type="button" style="background-color: #f59a3d !important;" block (click)="cancelClick()" icon-right>Annuler
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button class="submit-btn" block color="adhesion" type="submit" 
              [disabled]="!registerForm.form.valid && !isFormValid">Suivant</button>
              <!--[disabled]="!registerForm.form.valid"--> 
            </ion-col>
          </ion-row>
          <!-- <button ion-button class="submit-btn" block color="accueil" type="submit">Créer un compte</button> -->

        </ion-list>
      </form>
    </ion-card-content>


  </ion-card>
</ion-content>