page-contribuable-entry {

  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .btnsArea button {
    font-size: 13pt !important;
    margin-top: 1em !important;
  }

}
