<!--
  Generated template for the ContribuableEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="contribuable">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contribuable</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="btnsArea">

    <button *ngIf="hasAccess" ion-button icon-right block (click)="openSFiscale()" color="situationfiscal">Situation fiscale
      <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
    </button>

    <button ion-button icon-right block (click)="openNonPaye()" style="background-color: #c75b49;">Paiement en ligne
      <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
    </button>
    <button ion-button icon-right block (click)="openNonRecu()" style="background-color: #897994;">Aviss d'imposition non reçu
      <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
    </button>
  </div>



</ion-content>