<!--
  Generated template for the InfosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="infos">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="infos-page">

  <ion-list>
    <ion-item style="background: rgba(255, 255, 255, 0.7);" (click)="presentFAQModal()">
      <ion-icon color="infos" name="help" item-start></ion-icon>
      FAQ
    </ion-item>
    <ion-item style="background: rgba(255, 255, 255, 0.7);" (click)="presentSecuriteModal()">
      <ion-icon color="infos" name="lock" item-start></ion-icon>
      Sécurité
    </ion-item>
    <ion-item style="background: rgba(255, 255, 255, 0.7);" (click)="presentMentionslegalesModal()">
      <ion-icon color="infos" name="paper" item-start></ion-icon>
      Mentions légales
    </ion-item>
    <ion-item style="background: rgba(255, 255, 255, 0.7);" (click)="presentConditionsGeneralesModal()">
      <ion-icon color="infos" name="hammer" item-start></ion-icon>
      Conditions générales d'utilisation
    </ion-item>
  </ion-list>

</ion-content>