page-modify-pwd {

    ion-content{
        background: url(../assets/img/bg-content-fonctionnaires.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

}
