<!--
  Generated template for the ModifyPwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="reglages">
    <ion-title>Changer mot de passe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item style="background-color:rgba(255, 255, 255, 0.72) !important;" >
      <ion-label color="reglages" floating>Ancien mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="oldPwd"></ion-input>
    </ion-item>
    <ion-item style="background-color:rgba(255, 255, 255, 0.72) !important;" >
      <ion-label color="reglages" floating>Nouveau mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="newPwd"></ion-input>
    </ion-item>
    <ion-item style="background-color:rgba(255, 255, 255, 0.72) !important;" >
      <ion-label color="reglages" floating>Confirmer le mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="confPwd"></ion-input>
    </ion-item>

    <button ion-button color="secondary" block (click)="validerClick()">Valider</button>

  </ion-list>

</ion-content>