<ion-header>
  <!--<ion-navbar color="dark">-->
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reinitialiser le mot de passe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="getstart">


  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <!--<img src="../assets/img/logo-tgr.png" />-->
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row class="logo-row">

    <ion-col></ion-col>
  </ion-row>

  <div class="bottom">
    
        <div class="text">
          <h3>Mot de passe oublié?</h3>
          <p style="font-size: 12pt;">Nous avons juste besoin de votre Login et Email d'enregistrement pour vous envoyer des instructions de réinitialisation du mot
            de passe.</p>
        </div>
        <!--<form [formGroup]="user" (ngSubmit)="logUser()">-->
    
      <form (ngSubmit)="resetPassword()" #registerForm="ngForm">
        <ion-item-group>
          <ion-row>
            <ion-col>
              <ion-list lines style="margin-bottom: 8px !important;">
    
    
                <ion-item style="background: rgba(255, 255, 255, 0.83) !important;">
                  <ion-label stacked>Identifiant de votre compte</ion-label>
                  <ion-input type="text" name="login" required [(ngModel)]='login'></ion-input>
                </ion-item>
                <!-- <ion-item style="font-size: 10pt; background: rgba(255, 255, 255, 0.83) !important;">
                  <ion-label>J'ai oublié mon nom d'utilisateur</ion-label>
                  <ion-checkbox ></ion-checkbox>
                </ion-item> -->
                <ion-item style="background: rgba(255, 255, 255, 0.83) !important;">
                  <ion-label stacked>Email</ion-label>
                  <ion-input type="email" name="email" required [(ngModel)]='email' required></ion-input>
                </ion-item>
    
                <!--
                <ion-item>
                  <ion-input type="password" placeholder="Mot de passe" name="password"></ion-input>
                </ion-item>
    
                  <ion-item>
                    <ion-input type="email" formControlName="email" placeholder="Email" class="form-control"></ion-input>
                  </ion-item>
    
                  <ion-item>
                    <ion-input type="password" formControlName="password" placeholder="Password" class="form-control"></ion-input>
                  </ion-item>-->
    
              </ion-list>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col class="signup-col">
              <!--<button ion-button class="submit-btn" full type="submit" [disabled]="!user.valid" (click)="logUser()">Login</button>-->
              <button ion-button class="submit-btn" full type="submit"  color="mainColor">Soumettre</button>
              <!--<button ion-button class="register-btn" block clear (click)="createAccount()">Créer un nouveau compte</button>-->
              <!--<button ion-button class="register-btn" block clear (click)="forgotPassword()">Mot de passe oublié</button>-->
            </ion-col>
    
          </ion-row>
        </ion-item-group>
            
      </form>
      </div>
</ion-content>