page-forgot-password {
    // backgroud cover
    ion-content {
    //background-color: #263E44 !important;
    background-image: url('../assets/img/bg5.jpg') !important; 
    background-repeat: no-repeat !important;
    background-size:cover !important;

    }
    // align controls on the bottom
    .bottom{
    position: absolute;
    bottom: 1%;
    //top:1%;
    width: 95%;
    }
    .text{
    // position: absolute;
    // bottom: 1%;
    //top:1%;
    width: 95%;
    color: azure;
    font-size: 1.2em;
    text-align: center;
    }
}
