<!--
  Generated template for the BalancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>

  <ion-slides no-padding (ionSlideDidChange)="slideChanged()" [initialSlide]="(initialIdx < 0) ? 0 : initialIdx">
    <ion-slide>
      <canvas #m1></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #m2></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #m3></canvas>
    </ion-slide>
  </ion-slides>

  <ion-fab left bottom mini (click)="prev()" >
    <button ion-fab color="banque" [disabled]="!isLeftBtnEnabled">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom mini (click)="next()" >
    <button ion-fab color="banque" [disabled]="!isRightBtnEnabled">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-fab>

</ion-content>