<!--
  Generated template for the AnnuaireDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="annuaire">
    <ion-title>{{ user.libelle }}</ion-title>
  </ion-navbar>

  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <!--img *ngIf="user.responsable.jpeguri" src="{{user.responsable.jpeguri}}">
        <img *ngIf="!user.responsable.jpeguri" src="./assets/img/User-green.png"-->
        <img src="./assets/img/User-green.png">
      </ion-avatar>
      <h2>{{ user.responsable.firstName }}</h2>
      <h2>{{ user.responsable.lastName }}</h2>
      <p>{{  user.responsable.title }}</p>
    </ion-item>
    <ion-card-content>
      <p>Poste : {{ user.libelle }}</p>
      <!-- added to resolve the bug conserning tel invisible -> secretaria 
       -->
      <p *ngIf="user.secretariat">Secrétariat : <a href="#" (click)="doCall(user.secretariat)">{{ user.secretariat }}</a></p>
      <p *ngIf="user.tel">Tél : <a href="#" (click)="doCall(user.tel)">{{ user.tel }}</a></p>
      <p *ngIf="user.responsable.email">Email : <a href="#" (click)="doMail(user.responsable.email)">{{ user.responsable.email }}</a></p>
      <!-- <p *ngIf="user.responsable.mobile">Mobile : <a href="#" (click)="doCall(user.responsable.mobile)">{{ user.responsable.mobile }}</a></p> -->
      <p *ngIf="user.fax">Fax : {{ user.fax }}</p>
      <p *ngIf="user.adresse">Adresse : {{ user.adresse }}</p>
    </ion-card-content>
  </ion-card>
</ion-header>


<ion-content>
  <div style="height: 100%; width: 100%" #mapCanvas id="map_canvas"></div>
</ion-content>