page-account-detail {
  .top-details{
    background-color: color($colors, sndColor) !important;
  }

  .balance{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .balance p{
    margin-left: 2px;
    font-size: 8.5pt;
  }

  .top-details ion-item{
    background-color: transparent !important;
  }

  .tabs-area{
    position: relative;
  }

  .block{
    background: color($colors, banque) !important;
    text-align: center;
    padding: 4px;
    width: 100%;
    height: 9.5rem;
  }

  .block p{
    font-size: 10pt;
    color: white;
    margin-bottom: 1px;
    margin-top: 2px;
  }

  .block img{
    //max-width: 9em;
    max-height: 3.8em;
  }

  .balance-lbl{
    float: right;
    text-align: right;
    font-weight: bold;
    color: color($colors, banque) !important;
    font-size: 14pt;
  }

  .vertical-line{
    height: 6em !important;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .mtotal{
    text-align: left;
    float: left;
    color: gray;
    margin-top: 16px;
    font-size: 10.08pt;
  }

  .scroll-content {
    margin-bottom: 116px !important;
  }

  ion-content{
    background: url(../assets/img/bg-content-annuaire.png) !important;
    background-size: cover !important;
  }

  .tabbar {
    background: rgba(248, 248, 248, 0.4) !important;
  }

    
  .intro{
    position: absolute;
    z-index: 10;
    left: 41%;
    top: 8%;
    transform: translate(-50%, -50%);
    background: rgba(230, 152, 56, 0.78);
    border-radius: 50% 50%;
    width: 7.4rem;
    height: 7.4rem;
    text-align: center;
  }

  .intro ion-label{
    white-space: normal;
    font-size: 8pt;
    margin-top: 2px;
  }
  .intro ion-label *{
    margin: 0 !important;
  }

  .intro img{
    width: 2.15em;
  }

  div.swiper-pagination {
    top : 15px;
    bottom:inherit;
  }

  .swiper-pagination-bullet-active{
    background: color($colors, banque) !important;
    opacity: 1;
  }


}
