<ion-header>
  <ion-navbar color="banque">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Banque</ion-title>
    <!-- Gain/dépenses -->
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <ion-row no-padding style="background: rgba(255, 255, 255, 0.8);" (click)="goToSlide(1)">
    <ion-col col-7 iem-left style="display: inline-grid;">
      <span class="mtotal">Rib: {{selectedAccount.rib}}</span>
      <ion-label style="text-overflow: initial !important;">{{selectedAccount.identite}}</ion-label>
    </ion-col>
    <ion-col col-5>
      <ion-label item-right style="text-align: right;" class="balance-lbl">{{formatedFLoat(selectedAccount.balance)+" MAD"}}</ion-label>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content>

  <ion-slides (ionSlideDidChange)="slideChanged()" pager color="banque">
    <div *ngIf="showIntro" class="intro animated bounceIn">
      <img src="assets/img/ic-swipe.png" alt="">
      <ion-label color="light" no-padding no-margin>
        <p>Changement</p>
        <p>de compte</p>
      </ion-label>
    </div>
    <ion-slide *ngFor="let a of accountsData;">
      <ion-tabs>
        <ion-tab [rootParams]="a" color="mainColor" tabIcon="stats" [root]="tab_gain" tabTitle="Gain/dépenses" (ionSelect)="selectedTab(1)"></ion-tab>
        <ion-tab [rootParams]="a" tabIcon="cash" [root]="tab_balance" tabTitle="Solde" (ionSelect)="selectedTab(2)"></ion-tab>
      </ion-tabs>
    </ion-slide>
  </ion-slides>


</ion-content>

<ion-footer no-padding class="footer-noLine">
  <ion-grid style="margin: auto !important; margin-bottom: 9px !important;">
    <ion-row no-padding>
      <ion-col col-4>
        <button class="block block1" (click)="openAccounts()">
          <img src="assets/img/ic_bank.png" />
          <p >Mes</p>
          <p>comptes</p>
        </button>
      </ion-col>
      <ion-col col-4>
        <button class="block block2" (click)="openHistory()">
          <img src="assets/img/ic_card.png" />
            <p>Historique des</p>
            <p>opérations</p>
        </button>

      </ion-col>
      <ion-col col-4>
        <button class="block block3" (click)="openBetween()">
          <img src="assets/img/ic_cards.png" />
          <p>Opérations entre</p>
          <p>deux dates</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>