<!--
  Generated template for the EditionProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="adhesion">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edition de profil </ion-title>
  
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-card no-padding>

    <ion-card-content no-padding>

      <form (ngSubmit)="newUser()" #registerForm="ngForm">
        <ion-list lines>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Nom</ion-label>
            <ion-input type="text" minlength="2" maxlength="11" name="nom" [(ngModel)]="firstName" required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Prénom</ion-label>
            <ion-input type="text" minlength="3" maxlength="11" name="prenom" [(ngModel)]="lastName" required></ion-input>
          </ion-item>


          <ion-item class="register-item">
            <ion-label>Raison Social</ion-label>
            <ion-input type="text"  minlength="4" maxlength="11" name="raisonSociale" [(ngModel)]="data.raisonSociale"
              required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label>Cin / RC</ion-label>
            <ion-input type="text"  minlength="4" maxlength="11" name="Cin_RC" [(ngModel)]="data.cin" required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Email</ion-label>
            <ion-input type="email"  minlength="14" maxlength="30" name="mail" [(ngModel)]="email" required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Login</ion-label>
            <ion-input type="text" minlength="4" maxlength="11" name="lastName" [(ngModel)]="userID" required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Mot de passe</ion-label>
            <ion-input type="password"  minlength="4" maxlength="11" name="password" [(ngModel)]="password"
              required></ion-input>
          </ion-item>

          <ion-item class="register-item">
            <ion-label><span style="color: red;">* </span>Resaisir le mot de passe</ion-label>
            <ion-input type="password"  minlength="4" maxlength="11" name="comfirmPassword" [(ngModel)]="comfirmPassword"
              required></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <button ion-button type="button" style="background-color: #f59a3d !important;" block (click)="cancelClick()" icon-right>Annuler
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button class="submit-btn" block color="adhesion" type="submit" [disabled]="!registerForm.form.valid" >Suivant</button><!--[disabled]="!registerForm.form.valid"-->
            </ion-col>
          </ion-row>
          <!-- <button ion-button class="submit-btn" block color="accueil" type="submit">Créer un compte</button> -->
          
        </ion-list>
      </form>
    </ion-card-content>


  </ion-card>
</ion-content>
