<!--
  Generated template for the RegisterStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="adhesion">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inscription</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-card no-padding>

    <ion-card-content no-padding>

      <!-- <form (ngSubmit)="newUser()" #registerForm="ngForm"> -->
      <!-- <ion-list no-line> -->


      <ion-item>
        <ion-label>Contribuable</ion-label>
        <ion-toggle color="adhesion" name="contribuable" [checked]="contribuableFlag" (ionChange)="contribuableFlagShow($event)"></ion-toggle>
      </ion-item>

      <div [hidden]="!contribuableFlag">

        <ion-list>
          <ion-item *ngFor="let item of userModel.codeContribuables">
            <label> <strong>code contribuable :</strong> {{ item }}</label>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label stacked>Référence de l'avis</ion-label>
          <ion-input type="number"  placeholder="ex: 112233445" name="reference_avis" [(ngModel)]="data.reference_avis" [attr.required]="contribuableFlag"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked >Montant d'avis</ion-label>
          <ion-input type="number"  placeholder="ex: 334.4" name="montant_avis" [(ngModel)]="data.montant_avis" [attr.required]="contribuableFlag"></ion-input>
        </ion-item>

        <button style="height: 2.25em !important;" ion-button outline block icon-left class="submit-btn" center color="adhesion" (click)="addCodeContribuable()">
          <ion-icon name="add-circle"></ion-icon>
          <label>Ajouter un autre code contribuable</label>
        </button>
        <!-- <button ion-button class="submit-btn" block color="adhesion" type="submit" [disabled]="!registerForm.form.valid">Créer un compte</button> -->

      </div>
      <form (ngSubmit)="newUser()" #registerForm="ngForm">
        <ion-list no-line>
          <ion-item>
            <ion-label>Fonctionnaire</ion-label>
            <ion-toggle color="adhesion" name="fonctionnaire" [checked]="fonctionnaireFlag" (ionChange)="fonctionnaireFlagShow($event)"></ion-toggle>
          </ion-item>

          <div [hidden]="!fonctionnaireFlag">
            <ion-item>
              <ion-label stacked>Numéro PPR</ion-label>
              <ion-input type="number" placeholder="ex: 1122334" name="ppr" [(ngModel)]="data.ppr" [attr.required]="fonctionnaireFlag"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Dernier net mensuel</ion-label>
              <ion-input type="number" placeholder="ex: 309.4" name="net_mensuel" [(ngModel)]="data.net_mensuel" [attr.required]="fonctionnaireFlag"></ion-input>
            </ion-item>


            <!-- 
        //Contribuable 60565406725/306.5
        this.data.reference_avis ;//= '60565406725';
        this.data.montant_avis ;//= '306.5';
        
        //Fonctionnaire .. BD PROD
        this.data.ppr ;//= '1168305';
        this.data.net_mensuel ;//= '9821.21';
        this.data.dateEntree ;//= '1999-07-01';

            <ion-item>
              <ion-input type="text" placeholder="Derniere entree" name="derniere_entree" [(ngModel)]="data.derniere_entree" [attr.required]="fonctionnaireFlag"></ion-input>
            </ion-item> 
          -->

            <ion-item>
              <ion-label floating>Dernière entrée</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD" name="dateEntree" [(ngModel)]="data.dateEntree"></ion-datetime>
            </ion-item>

            <!-- [ngModelOptions]="{standalone: true}" -->
            <!-- goTovalidateFonctionnaire -->
            <button style="height: 2.25em !important;" ion-button outline block icon-left class="submit-btn" center color="adhesion" (click)="goTovalidateFonctionnaire()">
              <ion-icon name="add-circle"></ion-icon>
              <label>Valider Fonctionnaire</label>
            </button>
          </div>
          <!-- <button ion-button class="submit-btn" block color="adhesion" type="submit">Créer un compte</button> -->
          <button ion-button class="submit-btn" block color="adhesion" type="submit" [disabled]="!registerForm.form.valid">Créer un compte</button>

        </ion-list>
      </form>
    </ion-card-content>


  </ion-card>
</ion-content>