page-register-step2 {
	// backgroud cover
  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  ion-card {
    background: transparent !important;
  }
  ion-content ion-item{
      background-color: rgba(255, 255, 255, 0.6) !important;
  }
}
