// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
primary:    #488aff,
secondary:  #32db64,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222,


mainColor: #FF8F0B, // TGR Orange main color !
sndColor : rgba(66, 65, 65, 0.06),

login: #9c876e,

accueil: #97ccb2,
actualite:  #8B0000,
compte:  #FF8F0B,
annuaire:  #c46800,
banque:  #c19953,
fonctionnaire:  #c78f31,
reclamation:  #4c7158,
espaceGID:  #525269,
contribuable:  #a2625a,
reglages:  #3a3a3a,
situationfiscal: #2b5875,
adhesion: #4A1A2C,
infos: #335bb2,




///COLORS FROM DASHBOARD
theme2:  #c78f31,
theme3:  #525269,
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// Use the primary color as the background for the toolbar-md-background
//$toolbar-md-background:                   color($colors, mainColor);

// Use the default background for the tabbar since it inherits from toolbar
//$tabbar-md-background:                    #f8f8f8;

// Change the color of the tabs text

//$tab-button-md-inactive-color:            #8c8c8c;

// Change the color of the segment button text
//$toolbar-md-active-color:                 #fff;
//$toolbar-md-inactive-color:               #fff;
//$segment-button-md-text-color-activated:  #fff;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.


$toolbar-background     :              #242424;
$tabs-tab-color-active  :              color($colors, banque);

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
