page-history {

  ion-title *{
    font-size: 12pt !important;
  }

  .title-ios *{
    font-size: 10pt !important;
  }

  ion-card{
    box-shadow: 0 2px 2px 0
    rgba(255, 143, 11, 0.7), 0 3px 1px -2px
    rgba(255, 143, 11, 0.2), 0 1px 5px 0
    rgba(255, 143, 11, 0.12) !important;
  }

  .balance-lbl p{
    margin: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .date-area {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    background: rgba(162, 109, 6, 0.51);
  }

  .date-area .jour-area {
    font-weight: bold;
    font-size: 13px;
    color: white  !important;
  }

  .date-area .moisEtAnnee-area{
    font-size: 9pt;
    color: white  !important; 
  }

  .date-area label{
    font-size: 10pt;
  }

  .date-area img{
    position: absolute;
    right: 0;
    height: 100% !important;
    width: 3px;
  }

.marquee {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee .animated{
  display: inline-block;
  vertical-align: middle;

  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

.marquee label{
  white-space: nowrap;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.not-animated{
  display: inline-block;
  vertical-align: middle;
}

  .stat-area{
    word-break: normal;
    white-space: normal;
    font-size: 13px;
    line-height: 40px;
  }

  .cash-area{
    position: relative;
  }

  .cash-area label{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
  }

  .green-lbl, .green-lbl *{
    color: green;
  }

  .red-lbl, .red-lbl *{
    color: red;
  }

  .balance-lbl *{
    color: color($colors, banque);
    font-size: 13pt;
    font-weight: bold;
  }

  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  ion-content ion-item {
    background: rgba(255, 255, 255, 0.68) !important;
  }

  ion-content ion-label {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  } 

  .picto-area{
    position: relative
  }

  .picto-sort {
    position: absolute;
    max-width: none !important;
    width: 50px !important;
    height: 40px !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .data-head{
    text-align: center !important;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    padding: 3px;
    padding-left: 4%;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    box-shadow: gainsboro 0px -3px 2px 0px;
    background: #9c8d78;
  }

}
