page-accounts {
  ion-content{
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  ion-item {
    //background-color: color($colors, sndColor) !important;
    margin-bottom: 1em !important;
  }

  ion-img{
    background: none;
  }

  .account div label{
    margin-right: 6px;
  }

  ion-content ion-item{
    background: rgba(255, 255, 255, 0.6) !important;
  }
}
