<!--
Generated template for the AccountsPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="banque" >
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes comptes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-9></ion-col>
      <ion-col>
        <ion-label *ngIf="accounts.length>0" color="banque">Solde</ion-label>
      </ion-col>
    </ion-row>

    <ion-item class="account" *ngFor="let account of accounts" (click)="accountSelected(account)">
        <div item-left no-padding>
          <b>Compte rib:</b><br>
          <p>{{account.rib}}</p>
        </div>
        <div item-right no-padding>
          <label>{{formatedFLoat(account.balance)}} MAD</label> 
          <ion-icon name="arrow-forward" color="banque" style="position: absolute;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 !important;"></ion-icon>
        </div>
    </ion-item>

  </ion-grid>
</ion-content>
