<ion-menu [content]="content">   
  <ion-header>
    <!--ion-toolbar>
      <ion-title>Menu</ion-title>
      <ion-buttons end>
        <button ion-button icon-only menuToggle>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar-->
  </ion-header>

  <ion-content no-padding>
    <ion-grid no-padding>
      <ion-row class="top-menu" no-padding>
        <img src="assets/img/top-menu.jpg" alt="">
        <ion-row class="btn-off-area" *ngIf="auth.currentUser && auth.currentUser.LDAPData && auth.currentUser.LDAPData.lastName">
            <ion-col col-9 no-padding>
                <ion-label style="position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;" color="dark">{{auth.currentUser.LDAPData.lastName}} {{auth.currentUser.LDAPData.firstName}}</ion-label>
            </ion-col>
            <ion-col col-3 no-padding>
                <ion-buttons end>
                    <button ion-button icon-only clear (click)="doLogout()">
                      <ion-icon color="dark" name="power"></ion-icon>
                    </button>
                  </ion-buttons>
            </ion-col>
          </ion-row>
      </ion-row>
      <ion-row no-padding>
        <ion-col class="animatable" col-4 *ngFor="let p of pages; let idx=index;"
        (click)="openPage(p)" no-padding menuClose>
          <ion-card no-margin class="menu-item" id="{{p.id}}">
            <ion-card-content>
              <img src="{{p.picto}}" alt="">
              <label>{{ p.title | translate }}</label>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-footer *ngIf="showDemo" style="text-align: center;background: #c46800;">
  <label style="font-weight:  bold; color:  white;">Mode Démonstration</label>
</ion-footer>
