// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Saira Semi Condensed', sans-serif;
  src: url('../assets/fonts/SairaSemiCondensed-Regular.ttf'); 
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Saira Semi Condensed', sans-serif;
}

button[ion-item] {
  background: none;
}

ion-menu ion-content{
    background: url(../assets/img/bg_menu.jpg) !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.top-menu{
  position: relative;
  height: 181.06px;
  background: blue;
  margin-bottom: 3px;
}

ion-card.menu-item{
  width: 98%;
  margin-top: 0px !important;
  margin-bottom: 2px !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
  opacity: 0.86 !important;
  text-align: center;
  color: white;
}
ion-card.menu-item ion-card-content{
  padding: 7px;
}

ion-card.menu-item label{
  font-size: 9.9pt !important;
  margin-left: -4px;
  margin-right: -4px;
}

#m-00{
  background: color($colors, accueil);
}
#m-01{
  background: color($colors, actualite);
}
#m-02{
  background: color($colors, compte);
}
#m-03{
  background: color($colors, annuaire);
}
#m-04{
  background: color($colors, banque);
}
#m-05{
  background: color($colors, fonctionnaire);
}
#m-06{
  background: color($colors, reclamation);
}
#m-07{
  background: color($colors, espaceGID);
}
#m-08{
  background: color($colors, contribuable);
}
#m-09{
  background: color($colors, reglages);
}

#m-10{
  background: color($colors, situationfiscal);
}

#m-11{
  background: color($colors, adhesion);
}

#m-12{
  background: color($colors, infos);
}

ion-content{
  background: #c3c3c3 !important;
}

.infos {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 48.5%;
  padding-left: 14.5%;
}

.infos h2{
  color: #ad8b76;
  font-size: 1.5rem !important;
}

.infos ion-label{
  color: #5b3021;
  font-size: 12pt;
  margin-top: -0.2em;
  margin-left: -2em;
}

.alert-radio-label{
 white-space: normal !important;
}

.btn-off-area {
  position: absolute;
  width: 100%;
  bottom: 0%;
  padding-left: 6px;
  left: 0;
}

.options-popup { 
  top: 9em !important;
  height: calc(100% - 9em) !important;
}


//ANIMATE CSS
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY;
}
//--

.footer-noLine::before {
  content: none !important;
  background-image: none !important;
}