page-reclamation {

  .options_area, .options_area .option-block{
    width: 100% !important;
  }

  ion-content{
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  ion-item{
    background: transparent !important;
  }

  .custom-picker{
    z-index: 10;
    position: absolute;
    width: 94%;
    height: 32%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .custom-picker ionic-card-header{
    position: relative;
  }

  .custom-picker .close{
    position: absolute;
    top: 10%;
    right: 8%;
  }

  .options-btns button{
    height: 4.8em !important;
    text-align: center;
  }

  .options-btns ion-icon{
    padding-right: 0 !important;
  }

  .options-btns ion-label{
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }

  ion-navbar ion-title{
    overflow: visible;
    position: relative !important;
    margin-top: -1em;
    margin-left: -1em;
    .subtitle {
      position: absolute;
      top: 8px;
      font-size: 66%;
    }
  }



}
