<!--
Generated template for the ReclamationPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="reclamation">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Réclamations
      <p class="subtitle">{{currentReclamant.libelle}}</p>
    </ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<div class="custom-picker" *ngIf="isPicking">

  <ion-card no-padding>
    <ion-card-header>
      <ion-label>
        Joindre un fichier
      </ion-label>
      <button color="danger" class="close" ion-button icon-only clear (click)="togglePicker()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-card-header>
    <ion-card-content no-padding>
      <ng-template #selectFile>
        <ion-item>
          <ion-label stacked>Selectionné un document</ion-label>
          <ion-input type="file" name="uploadfile" (change)="fileSelected($event)"></ion-input>
        </ion-item>
      </ng-template>
      <ion-grid *ngIf="!selectFileActive; else selectFile">
        <ion-row class="options-btns">
          <!--
          <ion-col col-4>
            <button color="reclamation" ion-button icon-left outline block (click)="uploadAttach(0)">
              <div>
                <ion-icon name="camera"></ion-icon>
                <ion-label>
                  Camera
                </ion-label>
              </div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button color="reclamation" ion-button icon-left outline block (click)="uploadAttach(1)">
              <div>
                <ion-icon name="image"></ion-icon>
                <ion-label>
                  Galerie
                </ion-label>
              </div>
            </button>
          </ion-col>
          -->
            <button color="reclamation" ion-button icon-left outline block (click)="uploadAttach(2)">
              <div>
                <ion-icon name="document"></ion-icon>
                <ion-label>
                    Joindre un fichier
                </ion-label>
              </div>
            </button>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

<ion-content>
  <form (ngSubmit)="postReclamation()">
    <ion-grid>
      <div no-padding no-margin style="background: rgba(240, 248, 255, 0.42);margin-bottom: 1em;">
        <div style="width: 100%;padding-left: 20px;padding-top: 8px;display: inline-flex;background: aliceblue;">
          <img src="assets/img/ic-user-infos.png" style="width: 32px !important;height: 32px !important;margin-right: 12px;" alt="">
          <ion-label style="margin-top: 9px !important; font-size: 14pt;" color="reclamation">Informations du réclamant: </ion-label>
        </div>

        <ion-row no-padding>
          <ion-item>
            <ion-label color="reclamation"><span style="color: red !important;">*</span> Nom</ion-label>
            <ion-input name="lastName" [(ngModel)]="lastName" required></ion-input>
          </ion-item>
        </ion-row>
        <ion-row no-padding>
          <ion-item>
            <ion-label color="reclamation"><span style="color: red !important;">*</span> Prénom</ion-label>
            <ion-input name="firstName" [(ngModel)]="firstName" required></ion-input>
          </ion-item>
        </ion-row>
        <ion-row no-padding>
          <ion-item>
            <ion-label stacked color="reclamation"><span style="color: red !important;">*</span> Adresse</ion-label>
            <ion-textarea rows="2" name="adresse" [(ngModel)]="adresse"></ion-textarea>
          </ion-item>
        </ion-row>
        <ion-row no-padding>
          <ion-item style="height: 100%;">
            <ion-label color="reclamation"><span style="color: red !important;">*</span> Adresse Mail</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label color="reclamation">Téléphone</ion-label>
            <ion-input type="tel" name="tel" [(ngModel)]="tel" ></ion-input>
          </ion-item>
        </ion-row>
      </div>

      <div no-padding no-margin style="background: rgba(240, 248, 255, 0.42);margin-bottom: 1em;">
        <div style="width: 100%;padding-left: 20px;padding-top: 8px;display: inline-flex;background: aliceblue;">
          <img src="assets/img/ic-hank.png" style="width: 32px !important;height: 32px !important;margin-right: 12px;" alt="">
          <ion-label style="margin-top: 9px !important; font-size: 14pt;" color="reclamation">Réclamation: </ion-label>
        </div>
        <script>
          alert(`${currentReclamant.code}`);
          console.log("currentReclamant::")
          console.log(`${currentReclamant.code}`)
        </script>
        <ion-row [ngSwitch]="currentReclamant.code">
          <div class="options_area">
            <div class="option-block" *ngSwitchCase="'ASSOCIATION'"></div>
            <!-- Association -->
            <div class="option-block" *ngSwitchCase="'AUTRES'"></div>
            <!-- Autres -->
            <div class="option-block" *ngSwitchCase="'CLIENT_BANQUE'">
              <!-- Client de la banque -->
              <!-- Bug .. nature Reclamation = Nan .. maybe n.code must be n.id -->
              <ion-item>
                <ion-label color="reclamation"><span style="color: red !important;">*</span> Rib: </ion-label>
                <ion-input type="number" required name="rib" [(ngModel)]="rib"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la nature de votre réclamation: </ion-label>
                <ion-select name="natureID" [(ngModel)]="natureID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let n of foundNatures;" value={{n.id}}>{{n.libelle}}</ion-option> 
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la ville de domiciliation de votre compte : </ion-label>
                <ion-select name="villeID" [(ngModel)]="villeID" (ionChange)="villeSelected($event)" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let v of foundVilles;" value={{v.code}}>{{v.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="villeID">
                <ion-label stacked><span style="color: red !important;">*</span> Le poste concerné dans la villle : </ion-label>
                <ion-select name="postID" [(ngModel)]="postID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let p of foundPosts;" value={{p.code}}>{{p.libelle}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="option-block" *ngSwitchCase="'COLLECTIVITE_LOCALE'"> 
              <!-- Collective locale --> 
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la nature de votre réclamation: </ion-label>
                <ion-select name="natureID" [(ngModel)]="natureID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let n of foundNatures;" value={{n.id}}>{{n.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la ville de domiciliation de votre compte : </ion-label>
                <ion-select name="villeID" [(ngModel)]="villeID" (ionChange)="villeSelected($event)" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let v of foundVilles;" value={{v.code}}>{{v.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="villeID">
                <ion-label stacked><span style="color: red !important;">*</span> votre collectivité au niveau de cette ville : </ion-label>
                <ion-select name="postID" [(ngModel)]="postID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let p of foundPosts;" value={{p.code}}>{{p.libelle}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <ion-item class="option-block" *ngSwitchCase="'ETUDIANT'">
              <!-- Etudiant -->
              <ion-label color="reclamation"><span style="color: red !important;">*</span> CNE</ion-label>
              <ion-input type="number" required name="CNE" [(ngModel)]="CNE"></ion-input>
            </ion-item>
            <div class="option-block" *ngSwitchCase="'FONCTIONNAIRE'">
              <!-- Fonctionnaire -->
              <ion-item>
                <ion-label color="reclamation"><span style="color: red !important;">*</span> N° PPR</ion-label>
                <ion-input type="number" required name="N_PPR" [(ngModel)]="N_PPR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="reclamation"><span style="color: red !important;">*</span> CIN</ion-label>
                <ion-input required name="CIN" [(ngModel)]="CIN"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> Departement: </ion-label>
                <ion-select name="departementID" [(ngModel)]="departementID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let d of foundDepartements;" value={{d.code}}>{{d.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la nature de votre réclamation: </ion-label>
                <ion-select name="natureID" [(ngModel)]="natureID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let n of foundNatures;" value={{n.id}}>{{n.libelle}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="option-block" *ngSwitchCase="'ORDONNATEUR_SOUS_ORDONNATEUR'">
              <!-- Ordonnateur/Sous Ordonnateur -->
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> Departement: </ion-label>
                <ion-select name="departementID" [(ngModel)]="departementID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let d of foundDepartements;" value={{d.code}}>{{d.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la nature de votre réclamation: </ion-label>
                <ion-select name="natureID" [(ngModel)]="natureID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let n of foundNatures;" value={{n.id}}>{{n.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la ville où se trouve le poste : </ion-label>
                <ion-select name="villeID" [(ngModel)]="villeID" (ionChange)="villeSelected($event)" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let v of foundVilles;" value={{v.code}}>{{v.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="villeID">
                <ion-label stacked><span style="color: red !important;">*</span> le poste concerné dans la villle : </ion-label>
                <ion-select name="postID" [(ngModel)]="postID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let p of foundPosts;" value={{p.code}}>{{p.libelle}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="option-block" *ngSwitchCase="'PENSIONNE'">
              <!-- Pensionne -->
              <ion-item>
                <ion-label color="reclamation"><span style="color: red !important;">*</span> N° PPR</ion-label>
                <ion-input type="number" required name="N_PPR" [(ngModel)]="N_PPR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="reclamation"><span style="color: red !important;">*</span> N° de pension</ion-label>
                <ion-input type="number" required name="N_pension" [(ngModel)]="N_pension"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la nature de votre réclamation: </ion-label>
                <ion-select name="natureID" [(ngModel)]="natureID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let n of foundNatures;" value={{n.id}}>{{n.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la ville où se trouve le poste : </ion-label>
                <ion-select name="villeID" [(ngModel)]="villeID" (ionChange)="villeSelected($event)" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let v of foundVilles;" value={{v.code}}>{{v.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="villeID">
                <ion-label stacked><span style="color: red !important;">*</span> le poste concerné dans la villle : </ion-label>
                <ion-select name="postID" [(ngModel)]="postID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let p of foundPosts;" value={{p.code}}>{{p.libelle}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="option-block" *ngSwitchCase="'REDEVABLE_CONTTRIBUABLE'">
              <!-- Redevable/Contribuable -->
              <ion-item>
                <ion-label color="reclamation"><span style="color: red !important;">*</span> Id Fiscal</ion-label>
                <ion-input type="number" required name="Id_Fiscal" [(ngModel)]="Id_Fiscal"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="reclamation">N° et nature de l'article</ion-label>
                <ion-input type="number" name="N_nature_article" [(ngModel)]="N_nature_article"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la nature de votre réclamation: </ion-label>
                <ion-select name="natureID" [(ngModel)]="natureID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let n of foundNatures;" value={{n.id}}>{{n.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la ville où se trouve le poste : </ion-label>
                <ion-select name="villeId" [(ngModel)]="villeID" (ionChange)="villeSelected($event)" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let v of foundVilles;" value={{v.code}}>{{v.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="villeID">
                <ion-label stacked><span style="color: red !important;">*</span> le poste concerné dans la villle : </ion-label>
                <ion-select name="postID" [(ngModel)]="postID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let p of foundPosts;" value={{p.code}}>{{p.libelle}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="option-block" *ngSwitchCase="'TTULAIRE_COMMANDE_PUBLIQUE'">
              <!-- Titulaire d'une commande publique -->
              <ion-item>
                <ion-label color="reclamation"><span style="color: red !important;">*</span> Raison sociale</ion-label>
                <ion-input required name="Raison_sociale" [(ngModel)]="Raison_sociale"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la nature de votre réclamation:</ion-label>
                <ion-select name="natureID" [(ngModel)]="natureID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let n of foundNatures;" value={{n.id}}>{{n.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked><span style="color: red !important;">*</span> la ville où se trouve le poste :</ion-label>
                <ion-select name="villeId" [(ngModel)]="villeId" (ionChange)="villeSelected($event)" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let v of foundVilles;" value={{v.code}}>{{v.libelle}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="villeId">
                <ion-label stacked><span style="color: red !important;">*</span> Le poste concerné dans la villle :</ion-label>
                <ion-select name="postID" [(ngModel)]="postID" style="padding-left: 1px !important;">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let p of foundPosts;" value={{p.code}}>{{p.libelle}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <div *ngSwitchDefault>
              <ion-item>
                <ion-label color="danger">veuillez sélectionner le reclamant</ion-label>
              </ion-item>
            </div>
          </div>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label stacked color="reclamation"><span style="color: red !important;">*</span> Objet de votre réclamation</ion-label>
            <ion-textarea rows="4" name="message" [(ngModel)]="message" required></ion-textarea>
          </ion-item>
        </ion-row>

        <ion-row padding>
          <button ion-button icon-right block type="button" color="reclamation" (click)="doPick()">Joindre un fichier
            <ion-icon name="attach"></ion-icon>
          </button>

          <ion-row *ngFor="let f of files; let idx = index;" style="width: 100%;">
            <ion-col col-10>
              <ion-label>{{f.name}}</ion-label>
            </ion-col>
            <ion-col col-2>
              <button type="button" ion-button clear icon-only (click)="cancelFile(idx)">
                  <ion-icon name="close" color="danger"></ion-icon>
                </button>
            </ion-col>
          </ion-row>

          <button style="margin-top: 22px; background-color: #b99782 !important;" ion-button block type="submit">Envoyer</button>

          <ion-label color="danger">(*) champs obligatoire !</ion-label>


        </ion-row>

      </div>
    </ion-grid>
  </form>

</ion-content>

<ion-footer>

</ion-footer>