<!--
  Generated template for the ActualitesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="actualite">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Actualités</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar class="news-tabs-area">
    <!-- style="background: rgba(248, 148, 101, 0.28) !important;"> -->
    <ion-segment [(ngModel)]="newsTabs" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="bulletin">
        Bulletins
      </ion-segment-button>
      <ion-segment-button value="news">
        Nouveautés
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>



</ion-header>


<ion-content no-padding>



  <div *ngFor="let actu of actualites" (click)="openUrl(actu.link)">

    <ion-card>
      <ion-card-content style="padding: 8px 8px 8px 8px !important;">
        <ion-row no-padding>
          <ion-col col-6 no-padding>
            <img-loader style="width: 100%;" src='{{adaptImg(actu.imageURL)}}' useImg></img-loader>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-card-title color="actualite" style="text-align: justify !important; position: relative;text-align: left;font-size: 9pt !important;font-weight: bold;padding-left: 0.6em;padding-top: 0;padding-bottom: 0;">
              <label>{{decodeAscii(actu.title)}}</label>
            </ion-card-title>
          </ion-col>
        </ion-row>
        <p style="text-align: justify !important; font-size: 1.2rem !important; margin-top: 11px !important;">
          {{decodeAscii(actu.content)}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>





</ion-content>