page-actualites {
  ion-card-title{
    font-size: 1.7rem !important;
  }

  ion-content{
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  ion-card {
    background: rgba(255, 255, 255, 0.78) !important;
  }
  
  .news-tabs-area .toolbar-background{
    background: #613939 !important;
  }

  ion-segment-button {
    color: white !important;
  }

  ion-segment-button.segment-activated {
    border-color: white !important;
    opacity: 1;
  }

}
