<!--
  Generated template for the ArticlesNonPayes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="contribuable">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Articles à régler</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--/////////////////////////////////////////////////////////////////////////////////////-->

  <form (ngSubmit)="goToArticles()" #articleForm="ngForm">
    <ion-item>
      <ion-input type="text" placeholder="Référence de l'avis ex: 609999999999" name="reference_avis" required [(ngModel)]="reference_avis"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Montant de l'avis " required name="montant" [(ngModel)]="montant"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="E-mail" required name="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Confirmation de E-Mail" required name="email_confirm" [(ngModel)]="email_confirm"></ion-input>
    </ion-item>

    <!-- <button ion-button full (click)="goToArticles()">Afficher</button> -->
    <button class="btnAfficher" type="submit" [disabled]="!articleForm.form.valid" ion-button full>Afficher</button>
  </form>

  <!--<ion-label>Réclamation en tant que</ion-label>-->
  <ion-label> </ion-label>

</ion-content>