<!--
  Generated template for the ReglagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="(currentTheme == '1' || currentTheme == '0') ? 'reglages' : (currentTheme == '2') ? 'theme2' : 'theme3'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Réglages </ion-title>
    <!-- {{ 'Settings' | translate }} -->
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="(currentTheme == '1' || currentTheme == '0') ? 'theme1' : (currentTheme == '2') ? 'theme2' : 'theme3'">
  <ion-list>
    <ion-item *ngIf='connectedUser' 
    style="background-color: rgba(18, 119, 89, 0.68) !important; color: white" 
    (click)="openModifyProfil()">
        <ion-label>
          Editer mon profil
        </ion-label>
      </ion-item>

    <ion-item *ngIf='connectedUser' style="background-color: rgba(43, 24, 18, 0.65) !important; color: white" (click)="openModifyPWD()">
      <ion-label>
        Modifier votre mot de passe
        <!-- {{ 'Change password'  | translate }} -->
      </ion-label>
    </ion-item>
    <!-- <ion-item style="background-color:rgba(255, 255, 255, 0.72) !important;">
      <ion-label>Push Notification</ion-label>
      <ion-checkbox checked=true></ion-checkbox>
    </ion-item> -->
    <ion-item *ngIf='!connectedUser' style="background-color: rgba(183, 137, 6, 0.81) !important;
    color: white;" (click)="openReinitPwd()">
      <ion-label>
        <!--{{ 'Edit my profile'  | translate }}-->
        Réinitialiser le mot de passe
      </ion-label>
    </ion-item>
    <!-- <ion-item style="color:#000;background-color:rgba(255, 255, 255, 0.72) !important;">
      <ion-label>
        {{  selectedTranslation }}
      </ion-label>
      
      <ion-select class="mySelect" okText="Ok" cancelText="annuler" [(ngModel)]="availableTranslations" (ngModelChange)="updateLanguage($event)"
        placeholder="Choisir un langue">

        <ion-option *ngFor="let key of availableTranslations" value="{{ key }}">{{ key }}</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item *ngIf='connectedUser' style="color: white; background-color: rgba(102, 98, 162, 0.81) !important;">
      <ion-label>Push Notification</ion-label>
      <ion-checkbox [(ngModel)]="notification" (ionChange)="updateNotifCongf()"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="availableLanguages && availableLanguages.length>0" 
      style="background-color: rgba(98, 58, 72, 0.68) !important; color: white; display: none;">
      <!--{{ 'Edit my profile'  | translate }}-->
      <ion-label style="color:white">{{ 'Language' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedTranslation" okText="OK" cancelText="Annuler" (ngModelChange)="selectLanguage($event)">
        <ion-option *ngFor="let key of availableLanguages" value="{{ key }}">{{ key }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-list *ngIf="this.currentTheme > 0" class="themes-block" radio-group 
      [(ngModel)]="currentTheme" style="background-color: transparent !important; display: none;">
      <ion-item style="background-color: rgba(198, 116, 37, 0.68) !important; 
      color: white; border-radius: 1rem 1rem 0 0;">
        <ion-label>Themes</ion-label>
      </ion-item>
      <ion-item style="background-color:rgba(255, 255, 255, 0.72) !important;">
        <ion-label>Theme 1</ion-label>
        <ion-radio value="1" [checked]="(currentTheme === '1') ? true : false" disabled></ion-radio>
      </ion-item>
      <ion-item style="background-color:rgba(255, 255, 255, 0.72) !important;">
        <ion-label>Theme 2</ion-label>
        <ion-radio value="2" [checked]="(currentTheme === '2') ? true : false" disabled></ion-radio>
      </ion-item>
      <ion-item style="background-color:rgba(255, 255, 255, 0.72) !important;">
        <ion-label>Theme 3</ion-label>
        <ion-radio value="3" [checked]="(currentTheme === '3') ? true : false" disabled></ion-radio>
      </ion-item>
    </ion-list>




  </ion-list>




</ion-content>