page-reglages {

  ion-content ion-list ion-item {
    margin-bottom: 1rem !important;
    border-radius: 1rem;
  }

  ion-content ion-list.themes-block ion-item {
    margin-bottom: 0 !important;
    border-radius: 0rem;
  }

  ion-content ion-list.themes-block {
    border-radius: 1rem;
  }

  .theme1{
      background: url(../assets/img/bg-content-fonctionnaires.png) !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
  }

  .theme2{
    background: url(../assets/img/bg5.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .theme3{
    background: url(../assets/img/bg_signup.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }



}
