page-suivi-reclamations {
  ion-content{
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; 
  }

  .cardRec ion-item{
    background-color: transparent !important;
    box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.07);
  }

}
