<!--
  Generated template for the SuiviReclamationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="reclamation">
    <ion-title>Suivi des réclamations</ion-title>
  </ion-navbar>

  <form (ngSubmit)="doSearch(true)" #registerForm="ngForm">
    <ion-row>
      <ion-col col-10>
        <ion-item>
          <ion-label stacked>Réference réclamation</ion-label> 
          <ion-input [(ngModel)]="reclamationRef" (input)='suivi($event.target.value)' name="ref" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button color="reclamation" outline style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;" ion-button icon-only type="submit">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>

</ion-header>


<ion-content>

  <ion-list>
    <ion-card class="cardRec" *ngFor="let r of reclamations;" padding style="background: rgba(255, 255, 255, 0.76);">
      <ion-item no-padding><p><strong>Référence: </strong>{{r.reference}}</p></ion-item>
      <ion-item no-padding><p style="white-space: normal;"><strong>Objet réclamation: </strong>{{r.objetReclamation}}</p></ion-item>
      <ion-item no-padding><p><strong>Date: </strong>{{r.reponseReclam[0].date | date:'dd/MM/yyyy HH:mm'}}</p></ion-item>
      <ion-item no-padding><p style="color: #e68e20;white-space: normal;"><strong style="color: #666;">Réponse réclamation: </strong>{{r.reponseReclam[0].reponse}}</p></ion-item>
      <ion-item no-padding><p style="color: #e68e20;"><strong style="color: #666;">Etat de réponse: </strong>{{r.reponseReclam[0].typeEtatReclamation.libelle}}</p></ion-item> 
    </ion-card>
  </ion-list>

</ion-content>