<!--
SituationFonctionnaires page.
-->
<ion-header>

  <ion-navbar color="fonctionnaire">
    <button ion-button icon-only menuToggle *ngIf="!modalPresented">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fonctionnaires</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="content">
  <ion-card>
    <!--//////////////////////////// item ////////////////////////////////////-->

    <ion-item>
      <ion-avatar item-left>
        <img src="./assets/img/User-green.png" style="-webkit-filter: hue-rotate(136deg); filter: hue-rotate(136deg);">
      </ion-avatar>
      <h2>Nom et Prénom</h2>
      <p *ngIf="itemASalaire.attestationSalaire && itemASalaire.attestationSalaire.nom">
        {{ itemASalaire.attestationSalaire.nom }}
      </p>
    </ion-item>
  </ion-card>

  <div [ngSwitch]="relationship">
    <div *ngSwitchCase="'a0'"></div>
    <ion-card class="s-admin" *ngSwitchCase="'a2'" padding>
      <ion-item style="background: transparent !important; padding-left: 0 !important; margin-bottom: 0.75rem;">
        <ion-label color="fonctionnaire">
          Situation administrative
        </ion-label>
      </ion-item>
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative"><b>Grade: </b>{{ itemSituationAdmin.editionSituationAdministrative.grade.libelle }}</p>

      <p *ngIf="itemSituationAdmin 
      && itemSituationAdmin.editionSituationAdministrative  
      &&  itemSituationAdmin.editionSituationAdministrative.administration
      "><b>Imputation et Résidence: </b>{{ itemSituationAdmin.editionSituationAdministrative.administration.code }} {{ itemSituationAdmin.editionSituationAdministrative.ville.libelle }} {{ itemSituationAdmin.editionSituationAdministrative.zone }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.departement"><b>Département: </b>{{ itemSituationAdmin.editionSituationAdministrative.departement }}</p>
      
      <p *ngIf="itemSituationAdmin&& itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.service"><b>Service: </b>{{ itemSituationAdmin.editionSituationAdministrative.service.libelle }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.administration"><b>Administration: </b>{{ itemSituationAdmin.editionSituationAdministrative.administration.libelle }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.statut"><b>Statut: </b>{{ itemSituationAdmin.editionSituationAdministrative.statut }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.ppr"><b>PPR: </b>{{ itemSituationAdmin.editionSituationAdministrative.ppr }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.ville && itemSituationAdmin.editionSituationAdministrative.ville.libelle"><b>Ville: </b>{{ itemSituationAdmin.editionSituationAdministrative.ville.libelle }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.cin"><b>Num Cin: </b>{{ itemSituationAdmin.editionSituationAdministrative.cin }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative &&  itemSituationAdmin.editionSituationAdministrative.dateNaissance"><b>Date de naissance: </b>{{ itemSituationAdmin.editionSituationAdministrative.dateNaissance | date: 'dd/MM/yyyy'}}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.dateEntree"><b>Date d'entree: </b>{{ itemSituationAdmin.editionSituationAdministrative.dateEntree | date: 'dd/MM/yyyy'}}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.echelle"><b>Echelle: </b>{{ itemSituationAdmin.editionSituationAdministrative.echelle }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.echelon"><b>Echelon: </b>{{ itemSituationAdmin.editionSituationAdministrative.echelon }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.indice"><b>Indice: </b>{{ itemSituationAdmin.editionSituationAdministrative.indice }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.nationalite"><b>Nationalité: </b>{{ itemSituationAdmin.editionSituationAdministrative.nationalite }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.sexe"><b>Sexe: </b>{{ itemSituationAdmin.editionSituationAdministrative.sexe }}</p>
      
      <p *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.situationFamiliale"><b>Situation familiale: </b>{{ itemSituationAdmin.editionSituationAdministrative.situationFamiliale }}</p>
      
      <!-- 
      <ion-item (click)="presentProfileModal()">
        <h2>Grade</h2>
        <p >{{ itemSituationAdmin.editionSituationAdministrative.grade.libelle }}</p>
      </ion-item>

      <ion-item (click)="presentProfileModal()">
        <h2>Imputation et Résidence</h2>
        <p *ngIf="itemSituationAdmin 
        && itemSituationAdmin.editionSituationAdministrative  
        &&  itemSituationAdmin.editionSituationAdministrative.administration">
        {{ itemSituationAdmin.editionSituationAdministrative.administration.code }}</p>
        <p item-right *ngIf="itemSituationAdmin 
        && itemSituationAdmin.editionSituationAdministrative">
        {{ itemSituationAdmin.editionSituationAdministrative.ville.libelle }} 
        {{ itemSituationAdmin.editionSituationAdministrative.zone }}
        </p>
      </ion-item>
      
      <ion-item>
        <h2>Département</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">
          {{ itemSituationAdmin.editionSituationAdministrative.departement }}</p>
      </ion-item>

      <ion-item >
        <h2 style="overflow: visible;">Service</h2>
        <p item-right 
        *ngIf="itemSituationAdmin&& itemSituationAdmin.editionSituationAdministrative 
        && itemSituationAdmin.editionSituationAdministrative.service">{{ itemSituationAdmin.editionSituationAdministrative.service.libelle }}</p>
      </ion-item>

      <ion-item>
        <h2>Administration</h2>
        <p item-right *ngIf="itemSituationAdmin 
        && itemSituationAdmin.editionSituationAdministrative 
        && itemSituationAdmin.editionSituationAdministrative.administration">{{ itemSituationAdmin.editionSituationAdministrative.administration.libelle }}</p>
      </ion-item>

      <ion-item>
        <h2>Statut</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.statut }}</p>
      </ion-item>

      <ion-item>
        <h2>PPR</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.ppr }}</p>
      </ion-item>


      <ion-item>
        <h2>Ville</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.ville.libelle }}</p>
      </ion-item>




      <ion-item>
        <h2>Num Cin</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.cin }}</p>
      </ion-item>

      <ion-item>
        <h2>Matricule</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.ppr }}</p>
      </ion-item> 
      
      <ion-item>
        <h2>Date de naissance</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.dateNaissance | date: 'dd/MM/yyyy'}}</p>
      </ion-item>
      

      <ion-item>
        <h2>Date d'entree</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.dateEntree | date: 'dd/MM/yyyy'}}</p>
      </ion-item>

      <ion-item>
        <h2>Echelle</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.echelle }}</p>
      </ion-item>

      <ion-item>
        <h2>Echelon</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.echelon }}</p>
      </ion-item>

      <ion-item>
        <h2>Indice</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.indice }}</p>
      </ion-item>
      
      <ion-item>
        <h2>Nationalité</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.nationalite }}</p>
      </ion-item>
      
      <ion-item>
        <h2>Sexe</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.sexe }}</p>
      </ion-item>
      
      <ion-item>
        <h2>Situation familiale</h2>
        <p item-right *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">{{ itemSituationAdmin.editionSituationAdministrative.situationFamiliale }}</p>
      </ion-item>
      
 -->

    </ion-card>

    <!--//////////////////////////////// Consultation  ///////////////////////////////////-->
    <ion-card *ngSwitchCase="'a1'">
      <ion-item>
        <ion-label color="fonctionnaire">
          Attestation de salaire
        </ion-label>
      </ion-item>

      <ion-card-content no-padding class="cardContent">

        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <label>Brut imposable mensuel</label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-padding>
              <span item-right></span>
              <p style=" margin: 0; " *ngIf="itemASalaire.attestationSalaire && itemASalaire.attestationSalaire.situationPecuniere" item-right>
                {{ formatedFLoat(itemASalaire.attestationSalaire.situationPecuniere.brutImposable) }} MAD
              </p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <label>Net mensuel</label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <span item-right></span>
              <p item-right style="font-weight: bold; color: green; margin: 0;" *ngIf="itemASalaire.attestationSalaire && itemASalaire.attestationSalaire.situationPecuniere">
                {{ formatedFLoat(itemASalaire.attestationSalaire.situationPecuniere.netMensuel) }} MAD
              </p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <label>Total retenues annuelles</label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-padding>
              <span item-right></span>
              <p item-right style=" margin: 0; " *ngIf="itemASalaire.attestationSalaire && itemASalaire.attestationSalaire.situationPecuniere">
                {{ formatedFLoat(itemASalaire.attestationSalaire.situationPecuniere.totalRetenuesAnnuelles) }} MAD
              </p>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <label>Total brut annuel</label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <span item-right></span>
              <p item-right style="font-weight: bold; margin: 0;" *ngIf="itemASalaire.attestationSalaire && itemASalaire.attestationSalaire.situationPecuniere">
                {{ formatedFLoat(itemASalaire.attestationSalaire.situationPecuniere.totalBrutAnnuel) }} MAD
              </p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!--///////////////////  LIST ////////////////////////-->
    <ion-card *ngSwitchCase="'a3'">
      <ion-item>
        <ion-label color="fonctionnaire">
          Situation prélèvements
        </ion-label>
      </ion-item>

      

      <ion-list *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">
        <h1 *ngIf="itemSituationAdmin.editionSituationAdministrative.prelevements.length==0" >Pas de données trouvées</h1>
        <ion-item *ngFor="let item of itemSituationAdmin.editionSituationAdministrative.prelevements">
          <ion-avatar item-left style="position: relative;">
            <ion-icon class="sIcon" name="radio-button-on" color="fonctionnaire"></ion-icon>
          </ion-avatar>
          <p>{{ item.libelle}}</p>
          <p><b>Montant mensuel:</b> {{ (item.montantMensuel) ? (formatedFLoat(item.montantMensuel)+' MAD') : 'NONE'}}</p>
          <p><b>Montant global:</b> {{ (item.montantGlobal) ? (formatedFLoat(item.montantGlobal)+' MAD') : 'NONE'}}</p>
          <p><b>La date de début:</b> {{ (item.dateDebut | date: 'dd/MM/yyyy') ? (item.dateDebut | date: 'dd/MM/yyyy') : 'NONE'}}</p>
        </ion-item>
      </ion-list>
    </ion-card>
    <!--/////////////////// END LIST ////////////////////////-->

    <!--///////////////////  LIST ////////////////////////-->
    <ion-card *ngSwitchCase="'a4'">
      <ion-item>
        <ion-label color="fonctionnaire">
          Situation enfants
        </ion-label>
      </ion-item>
      <!--
      enfants[
              {
                    "rang": "1",
                    "dateDeces": null,
                    "paye": "NON",
                    "lit": "1",
                    "ppr": null,
                    "nom": null,
                    "prenom": "SAIDA",
                    "cin": null,
                    "nationalite": "Marocaine",
                    "dateNaissance": "1991-09-26T00:00:00.000Z",
                    "situationFamiliale": null,
                    "sexe": null,
                    "situationAdministrativeId": "157814"
                }
  -->
      <ion-list *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">

        <ion-item *ngFor="let item of itemSituationAdmin.editionSituationAdministrative.enfants">
          <ion-avatar item-left style="position: relative;">
            <ion-icon class="sIcon" name="radio-button-on" color="fonctionnaire"></ion-icon>
          </ion-avatar>

          <!-- Nom prenom -->
          <p>{{ item.prenom}}</p>
          <p><b>Date de naissance:</b> {{ item.dateNaissance | date: 'dd/MM/yyyy'}}</p>
          <!-- Rang -->
          <p *ngIf="item">
            <b>Rang: </b> {{ item.rang }}</p>

          <!-- Date décès -->
          <p *ngIf="item && item.dateDeces">
            <b>Date décès: </b>{{ item.dateDeces | date: 'dd/MM/yyyy'}}</p>

          <!-- paye -->
          <p *ngIf="item"><b>Payé: </b> {{ item.paye }}</p>



          <!-- lit -->
          <p *ngIf="item"><b>Lit: </b>{{item.lit }}</p>

          <!--         
          <p item-right>Nationalité</p>
          
          <p item-right></p>
          <p item-right>{{ item.nationalite}}</p> -->
          <p>Nationalité <b>{{item.nationalite}}</b></p>
        </ion-item>
      </ion-list>
    </ion-card>
    <!--/////////////////// END LIST ////////////////////////-->

    <!--///////////////////  LIST ////////////////////////-->
    <ion-card *ngSwitchCase="'a5'">
      <ion-item>
        <ion-label color="fonctionnaire">
          Situation conjoint
        </ion-label>
      </ion-item>
      <!--
"conjoints": [
                {
                    "rang": "1",
                    "dateEffet": "2000-02-10T00:00:00.000Z",
                    "profession": "NEANT",
                    "ppr": null,
                    "nom": "SOUAD",
                    "prenom": "MOUKHTARI",
                    "cin": "A1111254",
                    "nationalite": "MAROCAINE",
                    "dateNaissance": "1970-03-25T00:00:00.000Z",
                    "situationFamiliale": "MARIE",
                    "sexe": "F",
                    "situationAdministrativeId": "157814"
                }
  -->
      <ion-list *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">

        <ion-item *ngFor="let item of itemSituationAdmin.editionSituationAdministrative.conjoints">
          <ion-avatar item-left style="position: relative;">
            <ion-icon class="sIcon" name="radio-button-on" color="fonctionnaire"></ion-icon>
          </ion-avatar>

          <p>{{item.nom}} {{ item.prenom}}</p>
          <p item-right>{{ item.nationalite}}</p>
          <p><b>Date de naissance:</b> {{ (item.dateNaissance | date: 'dd/MM/yyyy') ? (item.dateNaissance | date: 'dd/MM/yyyy') : 'NONE'}}</p>
          <p><b>Situation familiale:</b> {{ (item.situationFamiliale) ? (item.situationFamiliale) : 'NONE'}}</p>
          <p><b>Profession:</b> {{ (item.profession) ? item.profession : 'NONE'}}</p>
          <p><b>Date effet:</b> {{ (item.dateEffet | date: 'dd/MM/yyyy') ? (item.dateEffet | date: 'dd/MM/yyyy') : 'NONE'}}</p>
          <p><b>Rang:</b> {{(item.rang) ? item.rang : '-'}}</p>
        </ion-item>
      </ion-list>
    </ion-card>
    <!--/////////////////// END LIST ////////////////////////-->

    <!--///////////////////  LIST ////////////////////////-->
    <ion-card *ngSwitchCase="'a6'">
      <ion-item>
        <ion-label color="fonctionnaire">
          Situation règlements
        </ion-label>
      </ion-item>
      <!--
       "reglements": [
                {
                    "mode": "N",
                    "agence": null,
                    "compte": null,
                    "dateDebut": "1985-05-01T00:00:00.000Z",
                    "dateFin": "1991-03-01T00:00:00.000Z",
                    "id": 1,
                    "villeId": null,
                    "situationAdministrativeId": "157814"
                }
  -->
      <ion-list *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative && itemSituationAdmin.editionSituationAdministrative.reglements">

        <ion-item *ngFor="let item of itemSituationAdmin.editionSituationAdministrative.reglements">
          <ion-avatar item-left style="position: relative;">
            <ion-icon class="sIcon" name="radio-button-on" color="fonctionnaire"></ion-icon>
          </ion-avatar>

          <p><b>Mode:</b> {{(item.mode) ? item.mode : 'NONE'}}</p>
          <p><b>Agence:</b> {{(item.agence) ? item.agence : 'NONE'}}</p>
          <p><b>Compte:</b> {{(item.compte) ? item.compte : 'NONE'}}</p>

          <p item-right>{{ item.nationalite}}</p>
          <p><b>Date début:</b> {{(item.dateDebut | date: 'dd/MM/yyyy') ? (item.dateDebut | date: 'dd/MM/yyyy') : 'NONE'}}</p>
          <p><b>Date fin:</b> {{ (item.dateFin) ? (item.dateFin | date: 'dd/MM/yyyy') : 'NONE' }}</p>
        </ion-item>
      </ion-list>
    </ion-card>
    <!--/////////////////// END LIST ////////////////////////-->

    <!--///////////////////  LIST ////////////////////////-->
    <ion-card *ngSwitchCase="'a7'">
      <ion-item>
        <ion-label color="fonctionnaire">
          Allocations familiales
        </ion-label>
      </ion-item>
      <!--
            "allocationsfamiliales": [
                {
                    "situation": "Déduction d'impot auto",
                    "dateEffet": "2015-07-01T00:00:00.000Z",
                    "dateDebut": "1994-06-12T00:00:00.000Z",
                    "observation": null,
                    "rang": "1",
                    "id": 3,
                    "situationAdministrativeId": "157814"
                }
  -->
      <ion-list *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">

        <ion-item *ngFor="let item of itemSituationAdmin.editionSituationAdministrative.allocationsfamiliales">
          <ion-avatar item-left style="position: relative;">
            <ion-icon class="sIcon" name="radio-button-on" color="fonctionnaire"></ion-icon>
          </ion-avatar>

          <p><b>Situation:</b> {{(item.situation) ? item.situation : 'NONE'}}</p>
          <p><b>Observation:</b> {{(item.observation) ? item.observation : 'NONE'}}</p>
          <p><b>Rang:</b> {{(item.rang) ? item.rang : 'NONE'}}</p>
          <p><b>Date effet:</b> {{(item.dateEffet | date: 'dd/MM/yyyy') ? (item.dateEffet | date: 'dd/MM/yyyy') : 'NONE'}}</p>
          <p><b>Date début:</b> {{(item.dateDebut | date: 'dd/MM/yyyy') ? (item.dateDebut | date: 'dd/MM/yyyy') : 'NONE'}}</p>
        </ion-item>
      </ion-list>
    </ion-card>
    <!--/////////////////// END LIST ////////////////////////-->

    <!--///////////////////  LIST ////////////////////////-->
    <ion-card *ngSwitchCase="'a8'">
      <ion-item>
        <ion-label color="fonctionnaire">
          Mutuelles
        </ion-label>
      </ion-item>
      <!--
            "mutuelles": [
                {
                    "dateDebut": "2001-09-01T00:00:00.000Z",
                    "dateFin": null,
                    "taux": 1,
                    "id": 1,
                    "typeMutuelleId": 9,
                    "situationAdministrativeId": "157814"
                }
  -->
      <ion-list *ngIf="itemSituationAdmin && itemSituationAdmin.editionSituationAdministrative">

        <ion-item *ngFor="let item of itemSituationAdmin.editionSituationAdministrative.mutuelles">
          <ion-avatar item-left style="position: relative;">
            <ion-icon class="sIcon" name="radio-button-on" color="fonctionnaire"></ion-icon>
          </ion-avatar>

          <p><b>Taux:</b> {{(item.taux) ? item.taux : 'NONE'}}</p>
          <!-- <p><b>agence</b> {{ item.agence ?  : 'NONE'}}</p> -->
          <p><b>Type mutuelle:</b> {{(item.typeMutuelle.libelle) ? item.typeMutuelle.libelle : 'NONE'}}</p>
          <p><b>Date début:</b> {{(item.dateDebut | date: 'dd/MM/yyyy') ? (item.dateDebut | date: 'dd/MM/yyyy') : 'NONE'}}</p>
          <!-- <p>dateFin {{ item.dateFin | date: 'dd/MM/yyyy'}}</p> -->
        </ion-item>
      </ion-list>
    </ion-card>
    <!--/////////////////// END LIST ////////////////////////-->

  </div>

</ion-content>

<ion-footer>

  <button ion-button full color="fonctionnaire" (click)="presentModal()">
    Veuillez choisir
  </button>

  <!--ion-segment [(ngModel)]="relationship" color="fonctionnaire">
    <ion-segment-button value="a2">
      Attestation de salaire
    </ion-segment-button>
    <ion-segment-button value="a1">
      Situation Adminstrative
    </ion-segment-button>
    <ion-segment-button value="a3">
      Situation Prélèvements
    </ion-segment-button>
    <ion-segment-button value="a4">
      Situation enfants
    </ion-segment-button>

    <ion-segment-button value="a5">
      Situation conjoint
    </ion-segment-button>

    <ion-segment-button value="a6">
      Situation Règlements
    </ion-segment-button>

    <ion-segment-button value="a7">
      Allocations Familiales
    </ion-segment-button>

    <ion-segment-button value="a8">
      Mutuelles
    </ion-segment-button>
  </ion-segment-->

</ion-footer>