page-fonctionnaires {

ion-segment {
  height: 6rem !important;
}

ion-segment-button {
  height: 6rem !important;
  white-space: normal !important;
  line-height: 3rem !important;
  background: color($colors, fonctionnaire) !important;
  color: white !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
}

ion-content {
  background: url(../assets/img/bg-content-fonctionnaires.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.sIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-card, ion-item {
  background: rgba(255, 255, 255, 0.32) !important;
}

.cardContent ion-item{
  background: transparent !important;
}

ion-label p {
  white-space: normal;
}

.s-admin p {
  margin-bottom: 1.2rem !important;
}

}
