page-contribuable {

  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  ion-content ion-item{
      background-color: rgba(255, 255, 255, 0.6) !important;
  }

  ion-list ion-item ion-item{
    background-color: transparent !important;
  }

  ion-list label{
    white-space: normal;
  }

  ion-avatar{
    position: relative;
  }

  ion-avatar ion-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .panier-btns button{
    white-space: normal !important;
    padding: 1.5em 0.5em !important;
  }

}
