<ion-header>
  <ion-navbar [color]="(fromSFiscal==false) ? 'contribuable' : 'situationfiscal'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{(fromSFiscal==false) ? 'Contribuable' : 'Situation fiscale'}}</ion-title>

    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div>

    <!--<ion-item>
    <ion-avatar item-left>
    <img src="./assets/img/m_avatar2.png">
  </ion-avatar>
  <h2> Username </h2>
</ion-item>-->

    <!--<ion-item>
<ion-label>Veuillez selectionner un compte</ion-label>
<ion-select [(ngModel)]="selectedCodeContribuable" (ngModelChange)="loadAccount($event)">
<ion-option *ngFor="let key of codeContribuables" value="{{key}}">{{key}}</ion-option>
</ion-select>
</ion-item>-->

  </div>

  <ion-row no-padding no-margin *ngIf="fromSFiscal">
    <ion-col no-padding no-margin>
      <button ion-button full (click)="refreshNonSoldes()" style="background-color: #ca9d6e;">
        Articles non soldés
      </button>
    </ion-col>
    <ion-col no-padding no-margin>
      <button ion-button full (click)="refreshSoldes()" style="background-color: #5b98af;">
        Articles soldés
      </button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label [color]="(fromSFiscal==false) ? 'contribuable' : 'situationfiscal'">{{title}}</ion-label>
  </ion-item>

  <ion-item *ngIf="!(title == 'Articles soldés') ">
    <h2>Total des montants :</h2>
    <p item-right>{{formatedFLoat(totalMontant) }} MAD</p>
  </ion-item>

  <ion-item>
    <h2>Nom :</h2>
    <p item-right>{{ foundItems.nom }}</p>
  </ion-item>
  <ion-item>
    <h2>Adresse :</h2>
    <p item-right>{{ foundItems.adresse }}</p>
  </ion-item>

  <ion-item>
    <p item-right [innerHTML]="foundItems.message" style="color:red">{{ foundItems.message }}</p>
  </ion-item>

  <ion-list style="margin-top:1em">

    <ion-row no-padding no-margin 
    *ngIf="!(title == 'Articles soldés') && foundItems && (foundItems.articles) && (foundItems.articles.length>0)">

      <ion-col col-5>
        <ion-item no-lines class="panier-btns">
          <span *ngIf="!selectAllFlag"> 
            <button (click)="selectedAll()" color="secondary" ion-button full>Sélectionner tout</button>
          </span>

          <span *ngIf="selectAllFlag">
            <button (click)="deselectedAll()" color="danger" ion-button full> Désélectionner tout</button>
          </span>
        </ion-item>
      </ion-col>
      <!-- </ion-row> -->
    </ion-row>
    <div *ngIf="foundItems.articles && foundItems.annees && (foundItems.articles.length>0)">
      <ion-item *ngFor="let item of foundItems.articles; let idx = index">
        <ion-row>
          <ion-col col-2>
            <ion-avatar item-left>
              <ion-icon name="arrow-dropright-circle" [color]="(fromSFiscal==false) ? 'contribuable' : 'situationfiscal'"></ion-icon>
            </ion-avatar>
          </ion-col>

          <!--<ion-item>
        <ion-checkbox checked="false" (ionChange)="datachanged($event,idx)">
      </ion-checkbox>
    </ion-item>-->
          <ion-col col-5 (click)="goToDetails(idx)">
            <label>{{ foundItems.natures[idx] }} {{ foundItems.secteurs[idx] }}{{ foundItems.articles[idx] }}</label>
            <p>{{ formatedFLoat (foundItems.montantstotalligne[idx])}} MAD</p>
            <!-- <h2>Année :</h2> -->
            <p>{{ foundItems.annees[idx]}}</p>
          </ion-col>
          <ion-col col-5 *ngIf="!(title == 'Articles soldés')">
            <ion-item no-lines class="panier-btns">
              <span *ngIf="!listviewIndexesChecker[idx]">
                <button (click)="addItemToArticlesToPay(foundItems.montantstotalligne[idx],idx)" color="secondary" ion-button full>Ajouter au panier</button>
              </span>

              <span *ngIf="listviewIndexesChecker[idx]">
                <button (click)="deleteItemFromArticlesToPay(foundItems.montantstotalligne[idx],idx)" color="danger" ion-button full>Enlever du panier</button>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-item>
    </div>

  </ion-list>
</ion-content>

<ion-footer padding *ngIf="!(title == 'Articles soldés')">

  <button ion-button 
  [disabled]="!foundItems && !foundItems.articles && !(foundItems.articles.length>0)"
  block [color]="(fromSFiscal==false) ? 'contribuable' : 'situationfiscal'" (click)="goToPay()">
    Paiement
  </button>

</ion-footer>