<!--
  Generated template for the SituationFiscaleDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="(fromSFiscal==false) ? 'contribuable' : 'situationfiscal'">
    <ion-title>{{(fromSFiscal==false) ? 'Contribuable' : 'Situation fiscale'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <h2>Libellé :</h2>
    <p item-right>
      <p>{{ itemDetails.libelle}}</p>
  </ion-item>

  <ion-item>
    <h2>Année :</h2>
    <p item-right>{{ itemDetails.annees[index]}}</p>
  </ion-item>

  <ion-item>
    <h2>Numéro du secteur :</h2>
    <p item-right>{{ itemDetails.secteurs[index]}}</p>
  </ion-item>

  <ion-item>
    <h2>Numéro de l'article :</h2>
    <p item-right>{{ itemDetails.articles[index]}}</p>
  </ion-item>

  <ion-item>
    <h2>Perception :</h2>
    <p item-right>{{ itemDetails.libellepostes[index]}}</p>
  </ion-item>


  <ion-item>
    <h2>Principal :</h2>
    <p item-right>{{formatedFLoat( itemDetails.montantsprincipal[index])}} MAD</p>
  </ion-item>
  <ion-item>
    <h2>Frais de recouvrement :</h2>
    <p item-right>{{ formatedFLoat( itemDetails.montantsfraisrecouvrement[index])}} MAD</p>
  </ion-item>
  <ion-item>
    <h2>Majoration:</h2>
    <p item-right>{{formatedFLoat(  itemDetails.montantsmajoration[index])}} MAD</p>
  </ion-item>
  <!--</ion-item>-->
</ion-content>