page-situation-fiscale-detail {
    ion-content {
        background: url(../assets/img/bg-content-fonctionnaires.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        }

        ion-item {
            background-color: rgba(255, 255, 255, 0.65) !important;
        }
}
