<!--
  Generated template for the Contribuable page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="contribuable">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Contribuable</ion-title>
    <!--articles non soldés-->
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div>

  </div>
</ion-header>


<ion-content padding>

  <div class="btnsArea">

    <div *ngIf="(hasAccess && codeContribuables[0].code)" class="sfArea" style="padding: 5px; background: rgba(99, 131, 144, 0.3);">

      <ion-item style="background-color: rgba(255, 255, 255, 0.75) !important;">
        <ion-label stacked>Veuillez sélectionner un compte</ion-label>

        <ion-select [(ngModel)]="selectedCodeContribuable" (ngModelChange)="loadAccount($event)">
          <!--<ion-option *ngFor="let key of foundCentralDirections" value="{{key.code}}">{{key.code}}</ion-option>-->

          <ion-option *ngFor="let data of codeContribuables;" value="{{data.code}}" [selected]="data.selected">{{data.label}}</ion-option> 
        </ion-select>

      </ion-item>
      <button ion-button icon-right block (click)="goToArticleNonPayes()" color="situationfiscal">Situation fiscale
        <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
      </button>

    </div>
    <ng-template #noCodeContribuable>
     
    </ng-template>

    <button ion-button icon-right block (click)="openNonPaye()" style="background-color: #c75b49;">Paiement en ligne
      <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
    </button>
    <button ion-button icon-right block (click)="openNonRecu()" style="background-color: #897994;">Avis d'imposition non reçu
      <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
    </button>
  </div>

</ion-content>