page-situation-fiscale {

  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .xlist ion-avatar{
    position: relative;

  }

  .xlist ion-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btnsArea button {
    font-size: 13pt !important;
    margin-top: 1em !important;
  }



}
