page-gid-detail {
  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
    ion-card, ion-item {
      background: rgba(255, 255, 255, 0.32) !important;
    }

    .list-data span {
        font-weight: bold;
        color: #bf8339;
    }

    .header-data span {
        font-weight: bold;
        color: #8a79a5;
    }

    .type-label{
      font-weight: bold;
      font-size: 14pt;
    }

    .item-md h2 {
      white-space: normal; 
    }
}
