<!--
  Generated template for the GidDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="espaceGID">
    <ion-title>GID Fournisseur</ion-title>
        <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h4 style="background: #8a79a5;
    color: white;
    padding-left: 16px;
    text-transform: uppercase;">Références dépenses</h4>
  <ion-item class="header-data">
    <h2><span>Numéro : </span>{{item.numeroPrestation }}</h2>
    <h2><span>Type de dépenses : </span>{{item.LibelleTypeDepense}}</h2>
    <h2><span>Objet : </span>{{item.objetPrestation}}</h2>
    <h2><span>Maitre d'ouvrage : </span>{{item.libelleActeurDepense}}</h2>
    <!-- <h2>Montant : {{item.montantMP}}</h2> -->
    <!-- <h2>Etat : {{item.libelleTypeEtatMP}}</h2> -->
    <h2><span>Numéro/Loi de finance : </span>{{item.codeLoiFinance}}</h2>
    <!-- <h2>Depuis la Date etat : {{item.dateEtat | date:'dd/MM/yyyy'}}</h2> -->
  </ion-item>



  <!--//////////////////////////////// list GID /////////////////////////////////////////////-->
  <!-- Mps
[
    {
        "idPrestation": 236,
        "codeTypeDepense": "MARCHE",
        "LibelleTypeDepense": "MARCHE",
        "NuméroPrestation": 46,
        "codeLoiFinance": "2015",
        "dateEtablissementMC": "2015-01-12T09:59:26.654Z",
        "codeTypeMC": "REGL",
        "libelleTypeMC": "Règlement de dépenses",
        "NuméroMC": 1,
        "objetMC": "REGLEMENT DE LA RETENUE DE GARANTIE RELATIVE AU MARCHE N  46",
        "objetPrestation": "Marché N°  46/ ",
        "montantMC": 4580,
        "codeTypeEtatMC": "VALIDEE_REGLEMENT",
        "libelleTypeEtatMC": "Validée",
        "dateServiceFaitMC": "2015-01-12T10:06:25.710Z",
        "libelleActeurDepense": "DOMAINE DES PECHES MARITIMES",
        "idReglement": null,
        "dateEtat": "2015-01-12T10:06:25.710Z",
        "idMC": 31761588,
        "TIERS_FK": 126
    }
]
    -->

  <ion-list class="list-data">
    <h4 style="background: rgba(230, 161, 74, 0.85);
    margin-top: 23px;
    padding-left: 16px;
    color: white;
    text-transform: uppercase;">Liste des actes</h4>
    <ion-item *ngFor="let items of mdsByTypeActeGroups">
      <h2 style="font-weight: bold;">{{ items[0].libelleTypeActe }}</h2>
      <ion-item padding-left *ngFor="let item of items">


          <!-- Afficher : Numéro acte en premier lieu Suivi de l’objet, montant, type etat, Date etat -->

          <!-- <h2>{{item.dateServiceFaitMP | date: 'dd/MM/yyyy' }}</h2> -->
          <!-- <h2>Type deponse : {{item.LibelleTypeDepense}}</h2> -->
          <!-- <h2 class="type-label">{{item.libelleTypeacte}}</h2> -->
          <!-- <h2>Acte {{item.}}</h2> -->
          <h2><span>Numéro  : </span>{{item.numeroActe }}</h2>
          <h2 style="white-space: normal;"><span>Objet  : </span>{{capitalizeFirstLetter(item.objetActe)}}</h2>
          <!-- <h2><span>Objet : </span>{{item.objetActe}}</h2> -->
          <h2><span>Montant  : </span>{{formatedFLoat(item.montant)}} MAD</h2>
          <h2><span>Type d'état  : </span>{{item.libelleTypeEtat}}</h2>
          <h2><span>Date d'état  : </span>{{item.dateEtat | date:'dd/MM/yyyy'}}</h2>

      </ion-item>
    </ion-item>
  </ion-list>

  <!--///////////////////////////// END list GID /////////////////////////////////////////-->
</ion-content>