<!--
  Generated template for the AvisImpositionNonRecu page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="contribuable">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Avis d'imposition non reçu</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- (click)="goToArticles()" -->
  <form (ngSubmit)="goToArticles()" #avisForm="ngForm">
    <!-- <ion-item>
      <ion-label stacked>Choisir une nature de créance</ion-label>
      <ion-select [(ngModel)]="codenature" [ngModelOptions]="{standalone: true}"> 
        <ion-option value="6">TAXE URBAINE/EDILITE</ion-option>
        <ion-option value="60">TAXE HABILITATION/SCES COMMUNAUX</ion-option>
        <ion-option value="62">TAXE PROFESSIONNELLE</ion-option>
        <ion-option value="1">TAXE IMPOT GENERAL SUR LES REVENUS</ion-option>
        <ion-option value="2">TAXE IMPOT DES PATENTES</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label stacked>Choisir une nature de créance</ion-label>
      <ion-select [(ngModel)]="codenature" [ngModelOptions]="{standalone: true}">
        
          <ion-option *ngFor="let item of natureCreance" value="{{item.code}}">{{item.libelle}}</ion-option>
        

      </ion-select>
    </ion-item>


    <!--years-->
    <ion-item>
      <ion-label>Choisir une année</ion-label>
      <ion-select [(ngModel)]="annee" [ngModelOptions]="{standalone: true}">

        <ion-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-option>
        <!--<ion-option value="2017">2017</ion-option>
      <ion-option value="2017">2018</ion-option>
      <ion-option value="2017">2019</ion-option>
      <ion-option value="2017">2020</ion-option>
      <ion-option value="2017">2021</ion-option>
      <ion-option value="2017">2022</ion-option>
      <ion-option value="2017">2023</ion-option>
      <ion-option value="2017">2024</ion-option>
      <ion-option value="2017">2025</ion-option>
      <ion-option value="2017">2026</ion-option>-->
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="E-mail" name="email" required [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Référence de l'article 99999999" name="reference" required [(ngModel)]="reference"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Montant de l'avis" name="montant" required [(ngModel)]="montant"></ion-input>
    </ion-item>

    <button class="btnAfficher" type="submit" [disabled]="!avisForm.form.valid" ion-button full>Afficher</button>
  </form>
  <!--<ion-label>Réclamation en tant que</ion-label>-->
  <ion-label> </ion-label>

</ion-content>