page-reclamation-entry {
  ion-content{
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; 
  }

  .fullname-label{
    font-weight: bold;
    margin-top: 0;
  }

  .head-content{
    position: absolute;
    padding: 18px 38px 18px 38px;
    margin-top: -9%;
    width: 100%;
    z-index: 1000;
  }

  .head-content ion-label{
    background-color: rgba(255, 255, 255, 0.92) !important;
    margin: 0 !important;
    font-size: 13pt;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .reclamant-btns{
    padding: 36px;
    padding-top: 46px;
  }


  .btn-content{
    width: 100%;
  }

}
