<!--
  Generated template for the ReclamationEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="reclamation">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Réclamation</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div padding style="display: inline-block; width: 100%; background: rgba(76, 113, 88, 0.78);">
    <ion-label class="fullname-label" color="light">Bonjour {{(lastName | uppercase)+" "+(firstName | titlecase)}}</ion-label>
    <ion-label color="light">{{email | lowercase}}</ion-label>
  </div>
  <div class="head-content">
    <ion-label color="reclamation" text-center>Réclamation entant que:</ion-label>
  </div>

</ion-header>


<ion-content>

  <ion-row class="reclamant-btns">
    <ion-col col-6 no-padding style="padding: 2px;" *ngFor="let r of foundReclamations; let idx = index;" (click)="openReclamation(idx)">
      <button no-margin color="light" full ion-button style="background-color: rgba(255, 255, 255, 0.89) !important; height: 11em;">
          <div class="btn-content">
            <img style="width: 94px; height: 64px;" src="{{getImgSrcOf(r)}}" alt="">
            <ion-label style="white-space: normal; margin-right: 0 !important;">{{r.libelle | replaceStr: '/':' / '}}</ion-label> 
          </div>
        </button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>

  <button ion-button full color="reclamation" icon-right (click)="openSuivi()">
    Suivi des réclamations
    <ion-icon name="paper"></ion-icon>
  </button>

</ion-footer>