<!--
  Generated template for the AnnuaireParNomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom color="annuaire">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Annuaire par nom</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar padding-horizontal color="annuaire" style="background: #c46800;" [(ngModel)]="queryText" placeholder="Recherche par nom">

  </ion-searchbar>
</ion-header>



<ion-content class="login-content slide-in-both-ways">
 
  <button ion-button  (click)="findResponsableByName()">
      <ion-icon name="call" ></ion-icon>
      Rechercher
    </button>
    

  <ion-list>
    <ion-item-sliding *ngFor="let user of foundResponsibles">
      <ion-item *ngIf="user.responsable.id " (click)="goToDetails(user)">
        <ion-row no-padding no-marging>
          <ion-col col-4 no-margin>
            <!-- ng4 ngif .. else -->
            <img class="iAvatar" *ngIf="user.responsable.jpeguri; else placeholderImg" src="{{user.responsable.jpeguri}}">
            <ng-template #placeholderImg><img class="iAvatar" src="./assets/img/User-green.png"></ng-template>
          </ion-col>


          <ion-col col-8 no-margin>
            <h3 style="font-weight: bold;">{{ user.responsable.lastName }} {{ user.responsable.firstName }}</h3>
            <h3 style="color: gray;">{{ user.responsable.title }}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="doCall(user.secretariat)" [disabled]="!(user.secretariat)">
        <ion-icon name="call" ></ion-icon>
        Call
      </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="doMail(user.responsable.email)" [disabled]="!(user.responsable.email)">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>