page-gid {

  ion-content {
    background: url(../assets/img/bg-content-fonctionnaires.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  ion-card, ion-item {
  background: rgba(255, 255, 255, 0.32) !important;
  }

  .data-list span{
    font-weight: bold;
    color: #a78353;
  }

}
