<!--
  Generated template for the GidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="espaceGID">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GID fournisseur</ion-title>
    <ion-buttons end *ngIf='connectedUser'>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar color="annuaire" [(ngModel)]="queryText" (ionInput)="updateItems()" placeholder="Recherche par type dépense ou type d'acte">
  </ion-searchbar>

</ion-header>


<ion-content style="text-align: center;">
  <!-- Mps
[
  {
    "idPrestation": 601073,
    "codeTypeDepense": "BONCOM",
    "LibelleTypeDepense": "BON DE COMMANDE ",
    "numeroPrestation": 4,
    "codeLoiFinance": "2010",
    "dateEtablissementMP": "2010-03-30T13:05:53.910Z",
    "codeTypeMP": "DECOMPTE",
    "libelleTypeMP": "DECOMPTE",
    "numeroMP": "1",
    "objetMP": "RGT FRE N 20100164 BC N 5 ",
    "objetPrestation": "BC N°05relatif à l'achat de matériel informatique attribué ",
    "montantMP": 1008,
    "montantNetMP": 1008,
    "codeTypeEtatMP": "VALIDEE",
    "libelleTypeEtatMP": "Validée",
    "dateServiceFaitMP": "2010-03-25T23:00:00.000Z",
    "libelleActeurDepense": "DOMAINE DES PECHES MARITIMES",
    "dateEtat": "2010-03-30T13:06:18.268Z",
    "TIERS_FK": 126
  },
  ----------------------------------mds---------------------------------------
   {
        "idPrestation": 236,
        "codeTypeDepense": "MARCHE",
        "LibelleTypeDepense": "MARCHE",
        "numeroPrestation": 46,
        "codeLoiFinance": "2015",
        "dateEtablissementMC": "2015-01-12T09:59:26.654Z",
        "codeTypeMC": "REGL",
        "libelleTypeMC": "Règlement de dépenses",
        "numeroMC": 1,
        "objetMC": "REGLEMENT DE LA RETENUE DE GARANTIE RELATIVE AU MARCHE N  46",
        "objetPrestation": "Marché N°  46/ ",
        "montantMC": 4580,
        "codeTypeEtatMC": "VALIDEE_REGLEMENT",
        "libelleTypeEtatMC": "Validée",
        "dateServiceFaitMC": "2015-01-12T10:06:25.710Z",
        "libelleActeurDepense": "DOMAINE DES PECHES MARITIMES",
        "idReglement": null,
        "dateEtat": "2015-01-12T10:06:25.710Z",
        "idMC": 31761588,
        "TIERS_FK": 126
    }
    -->

  <!--//////////////////////////////// list GID /////////////////////////////////////////////-->

  <h4 style="background: #d4b57d;
    color: #ffffff;">Tableau de bord</h4>
  <ion-list class="data-list">
    <ion-item *ngFor="let item of foundGID">

      <ion-item (click)="goToDetails(item)">

        <!-- <h2>{{item.dateServiceFaitMP | date: 'dd/MM/yyyy' }}</h2> -->
        <h2><span>Type dépense : </span>{{item.LibelleTypeDepense}}</h2>
        <h2><span>Numéro/LoiFinance : </span>{{ item.numeroPrestation }}/{{item.codeLoiFinance}}</h2>
        <!-- <h2>Acte {{item.}}</h2> -->
        <h2 style="white-space: normal;"><span>Maitre d'ouvrage : </span>{{item.libelleActeurDepense}}</h2>
        <h2><span>Montant : </span>{{item.montant}}</h2>
        <h2><span>Type Acte : </span>{{item.libelleTypeActe}}</h2>
        <h2><span>Etat : </span>{{item.libelleTypeEtat}}</h2>
        <h2><span>Depuis la date d'état : </span>{{item.dateEtat | date:'dd/MM/yyyy'}}</h2>
      </ion-item>

    </ion-item>
  </ion-list>
  <!--///////////////////////////// END list GID /////////////////////////////////////////-->
</ion-content>