<!--
  Generated template for the RegisterValidatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
Generated template for the LoginPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="login">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Activation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div >

    <div class="text">
      <p style=" font-size: 12pt;
      background: #00000030;
      padding: 10px;">Veuillez entrer votre identifiant, mot de passe et le code d'activation reçu par email.</p>
    </div>

  </div>
  <!-- dans l’écran d’activation :  indiquer que le code est envoyé par mail envoyé par mail -->
  <form (ngSubmit)="validateAccount()" #validateForm="ngForm">
    <ion-item>
      <ion-img src="assets/img/ic_user.png" item-left></ion-img>
      <ion-input type="text" [(ngModel)]="login" minlength="2" maxlength="20" name="login" placeholder="Identifiant" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-img src="assets/img/ic_password.png" item-left></ion-img>
      <ion-input name="password" [(ngModel)]="password" type="password" minlength="4" maxlength="50" placeholder="Mot de passe"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-img src="assets/img/ic_password.png" item-left></ion-img>
      <ion-input name="codeValidation" [(ngModel)]="codeValidation" type="text" minlength="4" maxlength="50" placeholder="Code de validation"
        required></ion-input>
    </ion-item>

    <button class="signin-btn" style="margin-bottom: 10px !important;" ion-button [disabled]="!validateForm.form.valid" type="submit"
      block color="login">Valider</button>

  </form>
</ion-content>