page-register-validate {
  .text{
    // position: absolute;
    // bottom: 1%;
    //top:1%;
    
    color: azure;
    font-size: 1.2em;
    text-align: center;
    }

    ion-content {
        background: url(../assets/img/bg_login.jpg) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }
      form {
        padding-left: 1em;
        padding-right: 1em;
        background: url(../assets/img/bg_login_form.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    
        position: absolute;
        width: 84%;
        bottom: 3.5em;
        left: 50%;
        transform: translateX(-50%);
      }
    
      ion-item, ion-img {
        background-color: transparent !important;
      }
      form ion-item ion-img{
        max-width: 20px !important;
      }
    
      ion-item {
        padding: 0 !important;
      }
    
      form ion-input{
        color: white;
      }
    
      .save-sess-lbl{
        font-size: 10.5pt;
        margin-left: 1em;
      }
    
      .signin-btn{
        margin-top: 2px !important;
        margin-bottom: 2px !important;
      }
    
      .forgot-area{
        margin: 0 !important;
        position: relative;
      }
      .forgot-area ion-label{
        font-size: 9.5pt;
        margin-top: 4px !important;
        margin-bottom: 2px !important;
        margin-right: 0 !important;
      }
    
      .f-pwd {
      //  position: absolute;
      //  left: 0;
        float: left;
      }
    
      .f-id{
      //  position: absolute;
      //  right: 0;
        float: right;
      }
    
      .signup *{
        font-size: 7.5pt !important;
        display: inline;
      }
    
      .signup-action{
        margin-left: 1.2em;
      }
    
      ion-input input{
    
        margin: 4px 11px 4px 0 !important;
      }
    
    }
    
